{% extends 'base.html.twig' %}
{% block subTitle %}
    <li class="active">{% trans %}SMIS{% endtrans %}</li>
    <li class="active">
        <a href="{{path('initiative_index')}}">{% trans %}Initiatives{% endtrans %}</a>
    </li>
{% endblock %}

{% block body %}
    <div class="widget-main padding-16">
        <div class="table-responsive">
            <form class="form-inline" method="get" style="display:inline;">

                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="search"/>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default no-border btn-sm">
                            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                        </button>
                    </div>
                </div>
            </form>

            {# <table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
                 <thead>
                     <tr>
                         <th>#</th>
                         <th>{% trans %}Challenge{% endtrans %}</th>
                         <th>{% trans %}Task{% endtrans %}</th>
                         <th>{% trans %}Initiative {% endtrans %}</th> 
                         <th>KPI</th>
                         <th>Objective</th>
                         <th>Goal</th>
                         <th>
                             actions
                         </th>
                     </tr>
                 </thead>
                 <tbody>
                     {% set count =  goals.getItemNumberPerPage() * (goals.getCurrentPageNumber() -1) %}
                     {% for goal in goals %}
                         {% for objective in goal.objectives %}
                             {% for kpi in objective.keyPerformanceIndicators %}
                                 {% for ini in kpi.initiatives %}
                                     {% for SI in ini.suitableInitiatives %}
                                         {% for sop in SI.suitableOperationals %}
                                             {% for opacc in sop.planValue %}
                                                 {% for ptask in opacc.performerTasks %}
                                                     {% for tasign in ptask.taskAssigns %}
                                                         {% if  tasign.challenge!= null and tasign.challenge!= 'no' and tasign.challenge!='none' and tasign.challenge!='N/A'%}
                                                         {% set count = count + 1 %}
                                                         <tr>
                                                             <td> {{ count }}</td>
                                                             <td>   {{ tasign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator.objective.goal }}</td>
                                                             <td>   {{ tasign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator.objective }}</td>
                                                             <td>   {{ tasign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator }}</td>
                                                             <td>   {{ tasign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative }}</td>
                                                             <td>  {{ tasign.challenge }}</td>
                                                         {% endif %}
                                                         {% endfor %}
                                                     {% endfor %}
                                                 {% endfor %}
                                             {% endfor %}
                                         {% endfor %}
                                     {% endfor %}
                                 {% endfor %}
                             {% endfor %}
                             </tr>
  
                     {% else %}
                         <tr>
                             <td colspan="7">no records found</td>
                         </tr>
                     {% endfor %}
                 </tbody>
             </table>#}



            <div class="row">
                {{ form_start(filterform,{'attr': {'role':'form','class':' ' }}) }}
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        {{ form_label(filterform.goal,'Goal') }}
                        {{ form_widget(filterform.goal,{'attr':{'class':'select2 form-control ','data-placeholder':'Choose goal' }}) }}
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(filterform.objective,'Objective') }}
                        {{ form_widget(filterform.objective,{'attr':{'class':'select2 form-control','data-placeholder':'Choose objective' }}) }}
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(filterform.kpi,'KPI') }}
                        {{ form_widget(filterform.kpi,{'attr':{'class':'select2 form-control','data-placeholder':'Choose kpi' }}) }}
                    </div>
                </div>
                <div class="clearfix "></div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(filterform.initiative,'Initiative') }}
                        {{ form_widget(filterform.initiative,{'attr':{'class':'select2 form-control','data-placeholder':'Choose initiative' }}) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(filterform.principaloffice,'Responsible Office') }}
                        {{ form_widget(filterform.principaloffice,{'attr':{'class':'select2 form-control','data-placeholder':'Choose responsible office' }}) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(filterform.planyear,'plan year') }}
                        {{ form_widget(filterform.planyear,{'attr':{'class':'select2 form-control','data-placeholder':'Choose plan year' }}) }}
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group" style="margin-top:25px;">
                        <input type="submit" class="btn btn-primary btn-sm " value="Filter">
                    </div>
                </div>
               {# <div class="col-md-4">
                    <form action="{{path('print_initiative')}}" method="post">

                        <button type="submit" formtarget="_blank" class="btn btn-app btn-danger btn-xs pull-right" style="margin-bottom:30px;">
                            <i class=" fa fa-file-pdf text-danger"></i>
                            PDF
                        </button>
                    </form>
                </div>#}
               {# <div class="col-md-4">
                    <form action="{{path('excel_initiative')}}" method="post">

                        <button type="submit" formtarget="_blank" class="btn btn-app btn-success btn-xs pull-right" style="margin-bottom:30px;">
                            <i class=" fa fa-file-ex-o"></i>
                            EXCEL
                        </button>
                    </form>
                </div>#}

                {{ form_end(filterform) }}
            </div>

            {% set taskArray = [] %}
            {% set InitiativeArray = [] %}
            {% set kpiArray = [] %}
            {% set ObjectiveArray = [] %}
            {% set GoalArray = [] %}
            <table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans %}Challenge{% endtrans %}</th>
                        <th>{% trans %}Task{% endtrans %}</th>
                        <th>{% trans %}Initiative {% endtrans %}</th> 
                        <th>KPI</th>
                        <th>Objective</th>
                        <th>Goal</th>
                        <th>
                            actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% set count =  taskAssigns.getItemNumberPerPage() * (taskAssigns.getCurrentPageNumber() -1) %}
                    {% for taskAssign in taskAssigns %}
                        {% if  taskAssign.challenge!= null%}
                            {% set count = count + 1 %}
                            <tr>
                                <td>
                                    {{ count }}
                                </td>
                                <td>
                                    {{ taskAssign.challenge }}
                                </td>
                                {% if taskAssign.performertask.name in taskArray %}
                                    <td> {{ "--" }}</td>
                                {% else  %}
                                    <td>
                                        {% set taskArray = taskArray|merge([taskAssign.performertask.name]) %}
                                        {{ taskAssign.performertask }}
                                    </td>
                                {% endif %}
                                {% if taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative in InitiativeArray %}
                                    <td> {{ "--" }}</td>
                                {% else  %}
                                    <td>
                                        {% set InitiativeArray = taskArray|merge([taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative]) %}
                                        {{ taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative }}
                                    </td>
                                {% endif %}
                                {% if taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator in  kpiArray %}
                                    <td> {{ "--" }}</td>
                                {% else  %}
                                    <td>
                                        {% set kpiArray = taskArray|merge([taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator]) %}
                                        {{ taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator }}
                                    </td>
                                {% endif %}
                                {% if taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator.objective in  ObjectiveArray %}
                                    <td> {{ "--" }}</td>
                                {% else  %}
                                    <td>
                                        {% set ObjectiveArray = taskArray|merge([taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator.objective]) %}
                                        {{ taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator.objective }}
                                    </td>
                                {% endif %}

                                {% if taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator.objective.goal in  GoalArray %}
                                    <td> {{ "--" }}</td>
                                {% else  %}
                                    <td>
                                        {% set GoalArray = taskArray|merge([taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator.objective.goal]) %}
                                        {{ taskAssign.performertask.operationalPlanningAcc.operationalSuitable.suitableInitiative.Initiative.keyPerformanceIndicator.objective.goal }}
                                    </td>
                                {% endif %}





                            </tr>
                        {% endif %}

                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pull-right">{{ knp_pagination_render(taskAssigns) }}</div>
        </div>
    </div>

{% endblock %}
