{% extends 'base.html.twig' %}

{% block subTitle %}
	<li class="">
		<a href="#">{% trans %}SMIS{% endtrans %}</a>
	</li>
	<li class="active">
		<a href="{{ path('objective_index')}}">{% trans %}Objective{% endtrans %}</a>
	</li>
{% endblock %}

{% block body %}


<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title" style="display:inline">
				<a class="caretCollapse">
					{{ objective.name|title }}
					{% trans %}Detail{% endtrans %}
				</a>

			</h3>
            
						<span class=" pull-right">
							<a href="{{ path('objective_index') }}" class="btn btn-success" style="display:inline;">
								{% trans %}
								back
								{% endtrans %}
							</a>
						</span>
					
		</div>
		<div id="collapseownerType" class="">
			<div class="panel-body">
				<div class="table-responsive">

					<table class="table table-bordered ">
						<tbody>
							<tr>
								<th>{% trans %}Name{% endtrans %}</th>
								<td>{{ objective.name }}</td>
							</tr>
							<tr>
								<th>{% trans %}Weight{% endtrans %}</th>
								<td>{{  objective.weight ? objective.weight:"__" }}</td>
							</tr>
							<tr>
								<th>{% trans %}OutPut{% endtrans %}</th>
								<td>{{  objective.outPut ? objective.outPut|title:" ______" }}</td>
							</tr>
							<tr>
								<th>{% trans %}OutCome{% endtrans %}</th>
								<td>{{  objective.outcome ? objective.outcome|title:" ______" }}</td>
							</tr>
							<tr>
								<th>{% trans %}Theme(Goal){% endtrans %}</th>
								<td>{{ objective.goal|title }}</td>
							</tr>
							<tr>
								<th>{% trans %}Prespective{% endtrans %}</th>
								<td>{{ objective.perspective|title }}</td>
							</tr>
							<tr>
								<th  style="vertical-align:middle;">{% trans %}Strategy
									{% endtrans %}</th>
								<td>
									<ul class="list-unstyled spaced">
										<li class="dd-item">
											<div class="dd-handle">The Strategy of
												<strong class="blue">{{objective.name|title}}</strong>
												Objective (Total Strategy:
												{{objective.strategies|length}})</div>
											{% if objective.strategies|length < 1 %}
												<span class="red" style="margin-left:20px;">
													No Strategy  is added for this Objective</span>
											{% endif %}


											{# <i class="menu-icon fa fa-caret-right"></i> <span>  The Strategy of   <strong class="bg-info">{{objective.name}}</strong> Objective </span>  #}
											<ul class="list-unstyled spaced">
												{% for strategy in objective.strategies %}
													<li style="margin-left:20px;">
														<i class="ace-icon fa fa-check green"></i>
														{{strategy.name|title}}</li>
												{% endfor %}
											</ul>
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<th style="vertical-align:middle;">{% trans %}Key Performance Indicators
									{% endtrans %}</th>
								<td>
									{% for strategy in objective.strategies %}

										<ul class="list-unstyled spaced2 ">
											<li class="dd-item">

												<div class="dd-handle label-lg label-info">The KPI of

													<b class="blue">{{strategy.name|title}}</b>
													Strategy (Total kPi:
													{{strategy.keyPerformanceIndicators|length}})</div>
												{# <i class="menu-icon fa fa-caret-right"></i> <span>  The Strategy of  {{objective.name|title}} Objective </span>  #}
												<ul class="list-unstyled spaced">
													{% if strategy.keyPerformanceIndicators|length  < 1 %}
														<span class="red" style="margin-left:20px;">
															&nbsp; No kpi is added for this strategy
														</span>
														{# <strong class="text-warning text-center" style="margin-left:20px;"> No kpi is added for this strategy</strong> #}
													{% endif %}
													{% for indicator in strategy.keyPerformanceIndicators %}
														<li style="margin-left:20px;">
															<i class="ace-icon fa fa-check green"></i>
															{{indicator.name|title}}</li>
													{% endfor %}

												</ul>
											</li>
										</ul>
									{% endfor %}
								</td>
							</tr>
                            <tr>
								<th>{% trans %}Status{% endtrans %}</th>
								<td>{% if objective.isActive %}
                                <span class="label label-success">Active</span>

                                {% else %}
                                     <span class="label label-danger">Deactivated</span>
                                {% endif %}</td>
							</tr>
							<tr>
								<th>{% trans %}Description{% endtrans %}</th>
								<td class="hidden-480">{{ objective.description|raw }}
                                </td>
							</tr>
                            <tr>
								<th>{% trans %}Created By{% endtrans %}</th>
								<td class="hidden-480">{{ objective.createdby|title }}
                                </td>
							</tr>
                             <tr>
								<th>{% trans %}Created At{% endtrans %}</th>
								<td class="hidden-480">{{ objective.createdAt|date('D-M-Y')}}
                                </td>
							</tr>
                            
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">

				<div class="row">
                <div class="col-md-6">
								<a href="{{ path('objective_index', {'id': objective.id}) }}" class="btn btn-warning">edit</a>
							</div>
							<div class="col-md-6">
								{{ include('objective/_delete_form.html.twig') }}
							</div>
                </div>
			</div>
		</div>
	</div>

{% endblock %}
