{% extends 'general.html.twig' %}

{% block stylesheet %}

	<link rel="stylesheet" href="{{ asset('assets/assets/css/bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/assets/font-awesome/4.5.0/css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/assets/css/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style"/>
	<link rel="stylesheet" href="{{ asset('assets/assets/css/jquery-ui.custom.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/assets/css/bootstrap-multiselect.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/assets/css/ace-skins.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/assets/css/ace-rtl.min.css') }}"/>
	<script src="{{ asset('assets/assets/js/ace-extra.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('assets/assets/css/fonts.googleapis.com.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/assets/css/style.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/assets/css/select2.min.css') }}"/>
{% endblock %}
{% block body %}
	<div class="row" style="margin-top:30px; margin-left:30px; margin-right:20px;margin-bottom:50px;">


		<div class="page-content page-container" id="page-content">
			<div class="padding">
				<div class="row">
				<div class=" col-md-4 small-box ">
						<div class="widget-box" id="widget-box-8">
							<div class="widget-header">
								<h5 class="widget-title bigger dark">TOTAL NUMBER OF STUDENT
									{# {{operationalTask}} #}
								</h5>
							</div>
							<div class="inner">
								<h1>{{totalStudents}}</h1>
							</div>
						</div>
					</div>
					
					
					<div class=" col-md-4 small-box ">
						<div class="widget-box " id="widget-box-8">
							<div class="widget-header">
								<h5 class="widget-title bigger dark">STUDENT BASED ON SEX
									{# {{operationalTask}} #}
								</h5>
							</div>
							<div class="widget-body">
								<div class="widget-body">
									<div id="container" style="width: 350px; height: 300px;"></div>

								</div>
								<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
									<thead>
										<tr>
											<th>#</th>
											<th>Sex
											</th>
											<th>Student Number</th>
										</tr>
									</thead>
									<tbody>
										{% set count = 0 %}
										{% set total = 0 %}
										{% for sex in studnetBySexs %}
											<tr>
												{% set count = count + 1 %}

												<td>{{count}}</td>
												<td>{{ sex.sex}}</td>
												<td>{{ sex.totalstudent}}
												</td>
												{% set total = total + sex.totalstudent  %}

											</tr>

										{% else %}
											<tr>
												<td colspan="3">no records found</td>
											</tr>
										{% endfor %}
										<tr>
											<td colspan="2">Total</td>
											<td>{{total}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class=" col-md-4 small-box ">
						<div class="widget-box " id="widget-box-8">
							<div class="widget-header">
								<h5 class="widget-title bigger dark">STUDENT BASED ON SEX AND YEAR
									{# {{operationalTask}} #}
								</h5>
							</div>
							<div
								class="widget-body">
								{# <canvas id="chart-sex" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas> #}
								<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
									<thead>
										<tr>
											<th>#</th>
											<th>Sex</th>
											<th>Year</th>
											<th>Student Number</th>
										</tr>
									</thead>
									<tbody>
										{% set count = 0 %}
										{% set total = 0 %}
										{% for year in years %}
											<tr>
												{% set count = count + 1 %}

												<td>{{count}}</td>
												<td>{{ year.sex}}</td>
												<td>{{ year.year}}</td>
												<td>{{ year.totalstudent}}

												</td>
												{% set total = total + year.totalstudent  %}

											</tr>

										{% else %}
											<tr>
												<td colspan="3">no records found</td>
											</tr>
										{% endfor %}
										<tr>
											<td colspan="3">Total</td>
											<td>{{total}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class=" col-md-4 small-box ">
						<div class="widget-box " id="widget-box-8">
							<div class="widget-header">
								<h5 class="widget-title bigger dark">STUDENT BASED ON SEX AND PROGRAM lEVEL
									{# {{operationalTask}} #}
								</h5>
							</div>
							<div
								class="widget-body">
								{# <canvas id="chart-sex" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas> #}
								<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
									<thead>
										<tr>
											<th>#</th>
											<th>Sex</th>
											<th>Program Level</th>
											<th>Student Number</th>
										</tr>
									</thead>
									<tbody>
										{% set count = 0 %}
										{% set total = 0 %}
										{% for programLevel in programLevels %}
											<tr>
												{% set count = count + 1 %}

												<td>{{count}}</td>
												<td>{{ programLevel.sex}}</td>
												<td>{{ programLevel.program_level_name}}</td>
												<td>{{ programLevel.totalstudent}}

												</td>
												{% set total = total + programLevel.totalstudent  %}

											</tr>

										{% else %}
											<tr>
												<td colspan="3">no records found</td>
											</tr>
										{% endfor %}
										<tr>
											<td colspan="3">Total</td>
											<td>{{total}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class=" col-md-4 small-box ">
						<div class="widget-box " id="widget-box-8">
							<div class="widget-header">
								<h5 class="widget-title bigger dark">STUDENT BASED ON SEX AND ENROLLMENT
									{# {{operationalTask}} #}
								</h5>
							</div>
							<div
								class="widget-body">
								{# <canvas id="chart-sex" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas> #}
								<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
									<thead>
										<tr>
											<th>#</th>
											<th>Sex</th>
											<th>Enrollment</th>
											<th>Student Number</th>
										</tr>
									</thead>
									<tbody>
										{% set count = 0 %}
										{% set total = 0 %}
										{% for enrollment in enrollments %}
											<tr>
												{% set count = count + 1 %}

												<td>{{count}}</td>
												<td>{{ enrollment.sex}}</td>
												<td>{{ enrollment.enrollment_type_name}}</td>
												<td>{{ enrollment.totalstudent}}

												</td>
												{% set total = total + enrollment.totalstudent  %}

											</tr>

										{% else %}
											<tr>
												<td colspan="3">no records found</td>
											</tr>
										{% endfor %}
										<tr>
											<td colspan="3">Total</td>
											<td>{{total}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/Chart.bundle.min.js') }}"></script>
	<script src="{{asset('assets/chart/anychart-base.min.js')}}"></script>


	{# Chart.bundle.min.js
						<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script> #}
	<script>

		anychart.onDocumentReady(function () { // create pie chart with passed data
var chart = anychart.pie3d([{% for sex in studnetBySexs %}[
"{{ sex.sex }}", {{ sex.totalstudent }}
],{% endfor %}]);

// set chart title text settings
chart
chart.innerRadius("10%");

chart.labels().position("outside");
chart.container('container');
chart.draw();
});
	</script>
	{# <script>
			$(document).ready(function () {
	var ctx = $("#chart-sex");
	function getRandomColor() {
	var letters = '0123456789ABCDEF';
	var color = '#';
	for (var i = 0; i < 6; i++) {
	color += letters[Math.floor(Math.random() * 16)];
	}
	return color;
	}
	var myLineChart = new Chart(ctx, {
	type: 'pie',
	data: {
	labels: [{% for sex in studentSex %}"{{ sex.sex }}",{% endfor %}],
	datasets: [
	{
	data: [{% for sex in studentSex %}{{ sex.count }},{% endfor %}],
	backgroundColor: [{% for sex in studentSex %}
	getRandomColor(),{% endfor %}]
	}
	]
	},
	options: {
	title: {
	display: true,
	text: 'Weather'
	}
	}
	});
	});
		</script> #}
	{# <script>
		$(document).ready(function () {
var ctx = $("#chart-enrollment");

function getRandomColor() {
var letters = '0123456789ABCDEF';
var color = '#';
for (var i = 0; i < 6; i++) {
color += letters[Math.floor(Math.random() * 16)];
}
return color;
}
var myLineChart = new Chart(ctx, {
type: 'pie',
data: {
labels: [{% for enroll in studentEnrollment %}"{{ enroll.name }}",{% endfor %}],
datasets: [
{
data: [{% for enroll in studentEnrollment %}{{ enroll.count }},{% endfor %}],
backgroundColor: [{% for enroll in studentEnrollment %}getRandomColor(),{% endfor %}]
}
]
},
options: {
title: {
display: true,
text: 'Weather'
}
}
});
});
	</script>
	<script>
		$(document).ready(function () {
var ctx = $("#chart-programLevel");

function getRandomColor() {
var letters = '0123456789ABCDEF';
var color = '#';
for (var i = 0; i < 6; i++) {
color += letters[Math.floor(Math.random() * 16)];
}
return color;
}
var myLineChart = new Chart(ctx, {
type: 'pie',
data: {
labels: [{% for programLevel in studentProgramLevel %}"{{ programLevel.name }}",{% endfor %}],
datasets: [
{
data: [{% for programLevel in studentProgramLevel %}{{ programLevel.count }},{% endfor %}],
backgroundColor: [{% for programLevel in studentProgramLevel %}getRandomColor(),{% endfor %}]
}
]
},
options: {
title: {
display: true,
text: 'Weather'
}
}
});
});
	</script> #}
	<script src="{{asset('assets/assets/js/jquery-2.1.4.min.js')}}"></script>
	<script src="{{ asset('assets/basic/assets/js/bootstrap.min.js') }}"></script>
	<script src="{{asset('assets/bootstrap-4.0/jquery-3.2.1.min.js')}}"></script>
	<script src="{{ asset('assets/assets/js/select2.min.js') }}"></script>
	<script src="{{asset('assets/assets/js/jquery-ui.custom.min.js')}}"></script>
	<script src="{{asset('chart.js-3.3.2/package/dist/chart.min.js')}}"></script>
	<script src="{{ asset('assets/assets/js/ace-elements.min.js') }}"></script>
	<script src="{{ asset('assets/assets/js/ace.min.js') }}"></script>
	<script>
		$(function () {
$('.select2').css('min-width', '50%').select2({allowClear: false});
});
	</script>


	<script>
		$(function () {

$('#visform').submit(function (event) {
event.preventDefault();
var $form = $(this);
$.ajax({
type: 'GET',
url: $form.attr('action'),
data: $form.serialize(),
success: function (data) {
$('#chartdiv').html(data);
},
error: function (error) {}
});

})
})
	</script>
{% endblock %}
