{% if  is_granted('ftp_act') or  is_granted('smb_act')  or   is_granted('unx_act')  %}
	<li class="nav-item has-treeview ">
		<a href="#" class="nav-link">
			<i class="nav-icon fa fa-cog"></i>
			<p>
				{% trans %}Accounts{% endtrans %}
				{# <span class="right badge badge-danger">New</span> #}
			</p>

			<i class="right fas fa-angle-left"></i>
		</a>
		<ul class="nav nav-treeview ml-3">
			{% if  is_granted('ftp_act') %}
				<li class="nav-item has-treeview">
					<a href="{{path('ftp_account_index')}}" class="nav-link">
						<i class="nav-icon fa fa-cogs"></i>
						<p>
							{% trans %}FTP Account{% endtrans %}
						</p>
					</a>
				</li>
			{% endif %}
			{% if  is_granted('smb_act') %}
				<li class="nav-item has-treeview">
					<a href="{{path('samba_account_index')}}" class="nav-link">
						<i class="nav-icon fa fa-cogs"></i>
						<p>
							{% trans %}Samba Account{% endtrans %}
						</p>
					</a>
				</li>
			{% endif %}
			{% if  is_granted('unx_act') %}
				<li class="nav-item has-treeview">
					<a href="{{path('unix_account_index')}}" class="nav-link">
						<i class="nav-icon fa fa-cogs"></i>
						<p>
							{% trans %}Unix Account{% endtrans %}
						</p>
					</a>
				</li>
			{% endif %}
			{% if  is_granted('voip_act') %}
				<li class="nav-item has-treeview">
					<a href="{{path('voip_account_index')}}" class="nav-link">
						<i class="nav-icon fa fa-cogs"></i>
						<p>
							{% trans %}VOIP Account{% endtrans %}
						</p>
					</a>
				</li>
			{% endif %}
			{% if  is_granted('xgrp_act') %}
				<li class="nav-item has-treeview">
					<a href="{{path('xivo_group_index')}}" class="nav-link">
						<i class="nav-icon fa fa-cogs"></i>
						<p>
							{% trans %}XIVO Group{% endtrans %}
						</p>
					</a>
				</li>
			{% endif %}
			{% if  is_granted('ogci_act') %}
				<li class="nav-item has-treeview">
					<a href="{{path('outgoing_caller_index')}}" class="nav-link">
						<i class="nav-icon fa fa-cogs"></i>
						<p>
							{% trans %}Outgoing Caller Id{% endtrans %}
						</p>
					</a>
				</li>
			{% endif %}

		</ul>
	</li>
{% endif %}

