{% extends 'base.html.twig' %}

{% block subTitle %}
	<li class="active">{% trans %}
		SMIS{% endtrans %}</li>
	<li class="active">{% trans %}
		Planning Year{% endtrans %}</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">
						<strong>Planning Year</strong>
					</h5>
					<div class="widget-toolbar">

						<span class="badge badge-info">
							{% trans %}Total{% endtrans %}
							:
							<strong>{{planning_years|length}}</strong>
						</span>

					</div>
					<div class="widget-toolbar">

						<form action="{{path('sms_index')}}" method="post">
							<button type="submit" name="send" class="btn btn-success">
								Plan Announcment
							</button>
						</form>

					</div>

				</div>
				<div class="widget-body">
					<div class="widget-toolbox" id="widget-toolbox-1">
						<div class="btn-toolbar">
							<div class="btn-group">
								<a class="btn btn-primary btn-sm btn-white btn-round" data-toggle="modal" data-target="#myModal">
									<i class="ace-icon fa fa-plus bigger-110 blue"></i>
									{% trans %}
									Add New
									{% endtrans %}</a>

							</div>
						</div>
					</div>
					<div class="widget-main padding-16">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Title</th>
										<th>Ethiopian Year</th>
										<th>Planning Year</th>
										<th>Description</th>
										<th>IsActive</th>
										<th>CreatedAt</th>
										<th>actions</th>
									</tr>
								</thead>
								<tbody>
									{% for planning_year in planning_years %}
										<tr>
											<td>{{ planning_year.id }}</td>
											<td>{{ planning_year.title }}</td>
											<td>{{ planning_year.ethYear }}</td>
											<td>{{ planning_year.year ? planning_year.year|date('Y') : '' }}</td>
											<td>{{ planning_year.description }}</td>
											<td>
												{% if planning_year.isActive %}
													<span class="label label-success">Active</span>
												{% else %}
													<span class="label label-danger">Deactivated</span>
												{% endif %}
											</td>
											<td>{{ planning_year.createdAt ? planning_year.createdAt|date('d-M-Y') : '' }}</td>
											<td>
												<a class="btn btn-info btn-xs" href="{{ path('planning_year_show', {'id': planning_year.id}) }}">
													<i class="fa fa-eye"></i>
													show</a>
												<a class="btn btn-warning btn-xs" href="{{ path('planning_year_edit', {'id': planning_year.id}) }}">
													<i class="fa fa-edit"></i>
													edit</a>

												<form class="form-inline" action="{{path('planning_year_activate',{'id':planning_year.id})}}" method="post" style="display:inline">

													{% if planning_year.isActive %}
														<input type="hidden" name="deactive" value="true">
														<button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to deactivate this planning year')">deactive</button>
													{% else %}
														<input type="hidden" name="active" value="true">
														<button type="submit" class="btn btn-primary btn-xs" onclick="return confirm('Are you sure you want to active this planning year')">Active</button>
													{% endif %}
												</form>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="6">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div id="myModal" class="modal fade" role="dialog">
		<div
			class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">New Planning Year</h4>
				</div>

				<div class="modal-body">
					{{ form_start(form,{'attr': {'class': 'my-form-class'} }) }}
					<div class="form-group">
						{{ form_label(form.title," Title") }}
						{{ form_widget(form.title,{'attr':{ 'class': 'form-control'}}) }}

					</div>
					<div class="form-group">
						{{ form_label(form.year,"planning year") }}
						{{ form_widget(form.year,{'attr':{ 'class': 'form-control'}}) }}

					</div>

					<div class="form-group">
						{{ form_label(form.ethYear,"Ethiopian year") }}
						{{ form_widget(form.ethYear,{'attr':{ 'class': 'form-control ','placeholder':'2013'}}) }}

					</div>


					<div class="form-group">
						{{ form_label(form.description) }}
						{{ form_widget(form.description,{'attr':{ 'class': 'form-control'}}) }}

					</div>

				</div>

			</div>
			<div class="modal-footer">
				<input class="btn btn-primary pull-right  " type="submit" value="{% trans %}Create{% endtrans %}"/>
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				{{ form_end(form) }}
			</div>
		</div>

	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
