{% extends 'base.html.twig' %}

{% block title %}TaskAccomplishment{% endblock %}

{% block body %}
    <h1>TaskAccomplishment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task_accomplishment.id }}</td>
            </tr>
            <tr>
                <th>ExpectedValue</th>
                <td>{{ task_accomplishment.expectedValue }}</td>
            </tr>
            <tr>
                <th>AccomplishmentValue</th>
                <td>{{ task_accomplishment.accomplishmentValue }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ task_accomplishment.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_accomplishment_index') }}">back to list</a>

    <a href="{{ path('task_accomplishment_edit', {'id': task_accomplishment.id}) }}">edit</a>

    {{ include('task_accomplishment/_delete_form.html.twig') }}
{% endblock %}
