{% extends 'base.html.twig' %}

{% block subTitle %}

	<li class=""><strong>{% trans %}
		SMIS{% endtrans %}</strong></li>
	<li class="active">
        <a href="{{path('principal_office_index')}}">{% trans %}
        <strong>
		Principal Office{% endtrans %}
        </strong></a>
        </li>
        <li class="active">	<strong>{{ principal_office.name|title }} </strong>{% trans %}
		{% endtrans %}</li>
      
{% endblock %}

{% block body %}


	

	
	


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title" style="display:inline;">
				<a class="caretCollapse" style="display:inline;">
					{{ principal_office.name|title }}
					{% trans %}Detail{% endtrans %}
				</a>
                
			</h3>
            <a href="{{path('principal_office_index')}}" class="pull-right btn btn-xs btn-warning" style="display:inline;" ><strong>Back</strong> </a>
		</div>
		
			<div class="panel-body">
				<div class="table-responsive">

					<table class="table table-bordered ">
						<tbody>
							<tr>
								<th>{% trans %}Name{% endtrans %}</th>
								<td>{{ principal_office.name|title }}</td>
							</tr>
							<tr>
								<th>{% trans %}Current Directors{% endtrans %}</th>

								<td>
									{% for director in  principal_office.principalManagers|filter(direct => direct.isActive == 1) %}
										{{director.principal|title}}
									{% endfor %}
								</td>
							</tr>


							<tr>
								<th style="vertical-align:middle;">{% trans %}Operational Office
									{% endtrans %}</th>
								<td>
									<ul class="list-unstyled spaced">
										<li class="dd-item">
											
											{% if principal_office.operationalOffices|length < 1 %}
												<span class="red" style="margin-left:20px;">
													No operational Offices  is added for this principal_office</span>
											{% endif %}


											{# <i class="menu-icon fa fa-caret-right"></i> <span>  The operationalOffice of   <strong class="bg-info">{{principal_office.name}}</strong> principal_office </span>  #}
											<ul class="list-unstyled spaced">
												{% for operationalOffice in principal_office.operationalOffices %}
													<li style="margin-left:20px;" class="">
														<i class="ace-icon fa fa-check green"></i>
														{{operationalOffice.name|title}}</li>
												{% endfor %}
											</ul>
										</li>
									</ul>
								</td>
							</tr>

							<tr>
								<th>{% trans %}Status{% endtrans %}</th>
								<td>
									{% if principal_office.isActive %}
										<span class="label label-success">Active</span>

									{% else %}
										<span class="label label-danger">Deactivated</span>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>{% trans %}Description{% endtrans %}</th>
								<td class="hidden-480">{{ principal_office.description|raw }}
								</td>
							</tr>
							<tr>
								<th>{% trans %}Created By{% endtrans %}</th>
								<td class="hidden-480">{{ principal_office.createdby|title }}
								</td>
							</tr>
							<tr>
								<th>{% trans %}Created At{% endtrans %}</th>
								<td class="hidden-480">{{ principal_office.createAt|date('D-M-Y')}}
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">

				{# {% if is_granted('EDIT_principal_office', principal_office) %} #}

					<a href="{{ path('principal_office_edit',{'id': principal_office.id}) }}" class="btn btn-warning btn-sm">
						<span class="glyphicon glyphicon-edit">{% trans %}Edit{% endtrans %}</span>
					</a>

				{# {% endif %} #}
				{# {% if is_granted('DELETE_principal_office', principal_office) %} #}

					{{ include('principal_office/_delete_form.html.twig') }}

				{# {% endif %} #}

			</div>
		</div>
	
{% endblock %}
