{% extends 'generalmobile.html.twig' %}
{% block application_simple_title %}
	<strong>
		{% trans %}Strategic Management Information System{% endtrans %}</strong>
{% endblock %}
{% block mainTitle %}
	<li>
		<i class="icon-home home-icon"></i>
		<a href="">{% trans %}MIS{% endtrans %}</a>

		<span class="divider">
			<i class="arrow-icon"></i>
		</span>
	</li>
	<li>
		<i class="icon-home home-icon"></i>
		<a href="">{% trans %}SMIS{% endtrans %}</a>

		<span class="divider">
			<i class="arrow-icon"></i>
		</span>
	</li>

{% endblock %}
{% block subTitle %}
	<li class="active">{% trans %}Performer Task{% endtrans %}</li>
{% endblock %}
{% block body %}
	<div>
		{% set taskUserid = 0 %}
		{% set status = 0 %}
		{% for taskAccomplishment in taskAccomplishments   %}
			{% if loop.first %}

				{% set status = taskAccomplishment.taskUser.status %}
				{% set taskUserid = taskAccomplishment.taskUser.id %}

				<ul class="steps">
					<li data-step="1" class={% if taskAccomplishment.taskUser.status >= 1 %} "complete" {% else %} "active" {% endif %}>
						<span class="step">I</span>
						<span class="title" style="font-size:5px;">Accept Or Reject Task</span>
					</li>
					<li data-step="2" class={% if taskAccomplishment.taskUser.status >= 2 %} "complete" {% elseif taskAccomplishment.taskUser.status >= 1 %} "active" {% else %} {% endif %}>
						<span class="step">II</span>
						<span class="title" style="font-size:5px;">Insert Report Timely
						</span>
					</li>

					<li data-step="3" class={% if taskAccomplishment.taskUser.status >= 3 %} "complete" {% elseif taskAccomplishment.taskUser.status >= 2 %} "active" {% else %} {% endif %}>
						<span class="step">III</span>
						<span class="title" style="font-size:5px;">Chalenge Faced/Solutions</span>
					</li>

					<li data-step="4" class={% if taskAccomplishment.taskUser.status >= 4 %} "complete" {% elseif taskAccomplishment.taskUser.status >= 3 %} "active" {% else %} {% endif %}>
						<span class="step">IV</span>
						<span class="title" style="font-size:5px;">
							Upload Narrative Report
						</span>
					</li>
					<li data-step="5" class={% if taskAccomplishment.taskUser.status >= 5 %} "complete" {% elseif taskAccomplishment.taskUser.status >= 4 %} "active" {% else %} {% endif %}>
						<span class="step">V</span>
						<span class="title" style="font-size:5px;">
							Send Report to Operational Manager
						</span>
					</li>
				</ul>
			{% endif %}

		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">Performer Task
						{# {{operationalTask}} #}
					</h5>


					<div class="widget-toolbar">
						<span class="btn btn-success">
							<a href="{{ path('performer_task_index') }}">back
							</a>


							{# <strong>{{tasks|length}}</strong> #}
						</span>
					</div>
				</div>


				<div class="widget-body">
					<div class="widget-toolbox" id="widget-toolbox-1">
						<div class="btn-toolbar">
							<div
								class="btn-group">{# {% if is_granted('CREATE_PERSPECTIVE') %} #}


							</div>


						</div>
					</div>

					<div class="widget-main padding-16">

						<div class="table-responsive">

							<form action="{{path('mobile_performer_task_show')}}" method="post">
								<table id="simple-table" class="table  table-bordered table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>TaskName</th>
											
											<th>Details</th>

										</tr>
									</thead>

									<tbody>
										{% set count = 0 %}
										{% for taskUser in taskUsers %}
											<tr>
												{% set count = count + 1 %}
												<td>{{ count}}</td>
												<td>{{ taskUser.taskAssign.performerTask.name }}</td>
												<td class="center">
													<div class="action-buttons">
														<a href="#" class="green bigger-140 show-details-btn" title="Show Details">
															<i class="ace-icon fa fa-angle-double-down"></i>
															<span class="sr-only">Details</span>
														</a>
													</div>
												</td>
												
												
											</tr>
											<tr class="detail-row">
												<td colspan="8">
													<div class="table-detail">
														<div class="row">


															<div class="col-xs-12 col-sm-7">
																<div class="space visible-xs"></div>

																<div class="profile-user-info profile-user-info-striped">

																	<div class="profile-info-row">
																		<div class="profile-info-name">
																			StartDate
																		</div>

																		<div class="profile-info-value">
																			<span>{{ taskUser.taskAssign.startDate  }}</span>
																		</div>
																	</div>

																	<div class="profile-info-row">
																		<div class="profile-info-name">
																			EndDate
																		</div>

																		<div class="profile-info-value">
																			<span>{{ taskUser.taskAssign.endDate  }}</span>
																		</div>
																	</div>

																	<div class="profile-info-row">
																		<div class="profile-info-name">
																			TimeGap
																		</div>

																		<div class="profile-info-value">
																			<span>{{ taskUser.taskAssign.timeGap }}</span>
																		</div>
																	</div>

																	<div class="profile-info-row">
																		<div class="profile-info-name">
																			Weight
																		</div>

																		<div class="profile-info-value">
																			<span>{{ taskUser.taskAssign.performerTask.weight }}</span>
																		</div>
																	</div>

																	<div class="profile-info-row">
																		<div class="profile-info-name">
																			Quantity
																		</div>

																		<div class="profile-info-value">
																			<span>{{taskUser.taskAssign.expectedValue}}</span>
																		</div>
																	</div>
																	{% for taskAccomplishment in taskAccomplishments   %}
																		{% if taskUser.id == taskAccomplishment.taskUser.id  %}
																			<div class="profile-info-row">
																				<div class="profile-info-name">
																					Measurement

																				</div>

																				<div class="profile-info-value">
																					<span>{{ taskAccomplishment.measurement.name }}</span>
																				</div>
																			</div>
																			<div class="profile-info-row">
																				<div class="profile-info-name">
																					Expected Value

																				</div>

																				<div class="profile-info-value">
																					<input type="hidden" name="taskAccomplishmentId[]" value="{{taskAccomplishment.id}}">
																					<span>{{ taskAccomplishment.expectedValue }}</span>
																				</div>
																			</div>
																			<div class="profile-info-row">
																				<div class="profile-info-name">
																					Measurement Description
																				</div>

																				<div class="profile-info-value">
																					<span>{{ taskAccomplishment.measureDescription }}</span>
																				</div>
																			</div>
																			<div class="profile-info-row">
																				<div class="profile-info-name">
																					Report Value
																				</div>

																				<div class="profile-info-value">
																					{% if taskAccomplishment.reportedValue %}
																						<span>{{ taskAccomplishment.reportedValue }}</span>

																					{% else %}
																						<input type="text" name="reportValue[]" class="form-conrol" required>
																					{% endif %}
																				</div>
																			</div>
																			<div class="profile-info-row">
																				<div class="profile-info-name">
																					Edit
																				</div>

																				<div class="profile-info-value">
																					<button class="btn btn-sm edit btn-warning" type="button" data-accomp="{{taskAccomplishment.id}}">
																						<i class="fa fa-edit"></i>
																					</button>
																				</div>
																			</div>
																			<div class="profile-info-row">
																				<div class="profile-info-name">
																					Challenge
																				</div>

																				<div class="profile-info-value">
																					{{ taskUser.note}}
																				</div>
																			</div>
																			<div class="profile-info-row">
																				<div class="profile-info-name">
																					Narrative
																				</div>

																				<div class="profile-info-value">
																					<a href="{{ asset('narrative/') }}{{taskUser.narrative}}" width="1300" target="_blank" height="600">
																						Narrative Report</a>
																				</div>
																			</div>

																		{% endif %}
																	{% endfor %}

																</div>
															</div>


														</div>
													</div>
												</td>
											</tr>

										{% else %}
											<tr>
												<td colspan="8">no records found</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>
								{% if status == 2 %}

									<button type="button" name="chalenge" data-taskuserid="{{taskUserid}}" class="btn btn-primary show pull-right">Chalenge</button>
								{% elseif status == 3 %}

									<button type="button" name="narrative" data-taskuseridd="{{taskUserid}}" class="btn btn-warning skip  pull-right">Skip</button>
								{% elseif status == 4 %}
									{# <button type="button" name="narrative" data-taskuseridd="{{taskUserid}}" class="btn btn-warning skip  pull-right">Skip</button> #}

								{% else %}
									<button type="submit" name="report" class="btn btn-primary pull-right" onclick="return confirm('Are you sure you want to Report this Value?');">Report</button>

								{% endif %}

							</form>
							{% if status == 4 %}

								<form action="{{path('performer_task_send')}}" method="post">
									<input type="hidden" name="taskUserId" value="{{taskUserid}}">

									<button type="submit" name="narrative" class="btn btn-primary pull-right" onclick="return confirm('Are you sure you want to Report ?');">Send Report</button>
								</form>
							{% endif %}
							{% if status == 3 %}

								{{ form_start(narativeForm,{'attr': {'role':'form'}}) }}
								<div class="row">

									<div class="form-group col-md-6 ">
										{{ form_widget(narativeForm.narrative,{'attr':{'class':'form-control  ','placeholder':'File','autocomplete':'off'}}) }}
										<div class="help-block with-errors"></div>
									</div>
						     <input type="file" name="narrativeFile" class="form-control">

									<input type="hidden" name="id" value="{{taskUserid}}">


									<button type="submit" name="stock-request" class="btn btn-primary ">Narrative</button>

								</div>
								{{ form_end(narativeForm) }}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="edit" class="modal fade" role="dialog">
		<div
			class="modal-dialog " style="width:400px;">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header bg-info">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<h4 class="modal-title">Edit Report Value
					</h4>

				</div>
				<form method="post" action="{{path('performer_task_show')}}">
					<div class="modal-body">
						<input type="hidden" name="taskAcoompId" class="taskAcoompId">
						<div class="form-group">
							<input type="number" name="editedReportValue" class="form-control">

						</div>
					</div>

					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default closes" data-dismiss="modal">Close</button>
						<button type="submit" name="stock-request" value="stock-request" class="btn btn-primary go">Edit</button>
					</div>

				</form>


			</div>

		</div>
	</div>
	{{ include('mobile/modal.html.twig') }}
{% endblock %}
{% block javascripts %}
	<script>
		$('.show').click(function () {
$('#chalenge').modal('show');

var id = $(this).attr('data-taskUserId');
$('.taskUserid').val(id);
})
	</script>
	<script>
		$('.edit').click(function () {
$('#edit').modal('show');

var id = $(this).attr('data-accomp');
$('.taskAcoompId').val(id);
console.log(id)

})
	</script>
	<script>
		$('.narrative').click(function () {
$('#narrative').modal('show');

var id = $(this).attr('data-taskUserId');
$('.taskUserid').val(id);
$('.idname').html(id)
console.log(id)

})
$('#cancel').click(function () {
location.reload(true);

})
	</script>
	<script>
		$('.skip').click(function () {

var select = $('.crtask')
var taskId = $(this).attr('data-taskuseridd');
confirm("Are you Sure To Skip");
$.ajax({
url:"{{ path('task_narrative_skip') }}",
method: "POST",
data: {
taskId: taskId
},
dataType: "json",
success: function (data) { // $('.department').children().remove()

}
});
location.reload(true);

})
	</script>
	<script type="text/javascript">
		$('.show-details-btn').on('click', function (e) {
e.preventDefault();
$(this).closest('tr').next().toggleClass('open');
$(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
});
	</script>
{% endblock %}
