{% extends 'base.html.twig' %}

{% block title %}InitiativeBehaviourCatagory index{% endblock %}

{% block body %}
    <h1>InitiativeBehaviourCatagory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Code</th>
                <th>CretedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for initiative_behaviour_catagory in initiative_behaviour_catagories %}
            <tr>
                <td>{{ initiative_behaviour_catagory.id }}</td>
                <td>{{ initiative_behaviour_catagory.name }}</td>
                <td>{{ initiative_behaviour_catagory.description }}</td>
                <td>{{ initiative_behaviour_catagory.code }}</td>
                <td>{{ initiative_behaviour_catagory.cretedAt ? initiative_behaviour_catagory.cretedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('initiative_behaviour_catagory_show', {'id': initiative_behaviour_catagory.id}) }}">show</a>
                    <a href="{{ path('initiative_behaviour_catagory_edit', {'id': initiative_behaviour_catagory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('initiative_behaviour_catagory_new') }}">Create new</a>
{% endblock %}
