<div class="jumbotron col-md-5" style="margin-top:10px;">
{{ form_start(form) }}
{# <div class="row"> #}
<div class="form-group ">

 {{ form_widget(form.fullName,{'attr':{'class':'form-control','placeholder':'Full Name'}}) }}
</div>
<div class="form-group ">

 {{ form_widget(form.contact,{'attr':{'class':'form-control','placeholder':'email or phone nnumber'}}) }}
</div>
<div class="form-group ">

 {{ form_widget(form.comment,{'attr':{'class':'form-control','placeholder':'write your feedback about mis'}}) }}
</div>
   
    <button class="btn btn-blue btn-primary btn-bold pull-right">{{ button_label|default('Send') }}</button>
    {# </div> #}
{{ form_end(form) }}
</div>
