{% extends 'base.html.twig' %}



{% block body %}
    
<div class="panel panel-primary">
 <div class="panel-heading">{% trans %}Customer FeedBack{% endtrans %}</div>
 <div class="panel-body">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %}Customer{% endtrans %}</th>
                <th>{% trans %}Contact{% endtrans %}</th>
                
                <th>{% trans %}Comment{% endtrans %}</th>
               
            </tr>
        </thead>
        <tbody>
        {% for feed_back in feed_back %}
            <tr>
                <td>{{ loop.index}}</td>
                 <td>{{ feed_back.fullName }}</td>
                <td>{{ feed_back.contact }}</td>
               
                <td>{{ feed_back.comment }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    {# <a href="{{ path('feed_back_new') }}">Create new</a> #}
{% endblock %}
