

{{ form_start(form,{'attr': {'role':'form'} }) }}


<div class="row">

	<div class="col-md-4">
		<div class="form-group">
			<label for="Name">Shancy Number </label>
			{{ form_widget(form.shancyNumber,{'attr':{'class':'form-control ','required' : 'true','autocomplete':'off','data-inputmask':"'alias': 'ip'"," data-mask":""}}) }}
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group ">
			<label >Color</label>
			{{ form_widget(form.color,{'attr':{'class':'form-control ','autocomplete':'off'}}) }}

		</div>
	</div>
	


	<div class="col-md-12">
		<button class="btn btn-primary float-right form-controll">{{ button_label|default('Save') }}</button>


	</div>

</div>
{{ form_end(form) }}