{% extends 'base.html.twig' %}

{% block title %}
	Vichels index
{% endblock %}
{% block maintitle %}Vichels List
{% endblock %}

{% block breadcrumb %}

	<li class="breadcrumb-item active">
		Vichels List
	</li>

{% endblock %}

{% block body %}
	<div class="row">
		<div class="card col-md">

			<div class="card ">
				<div class="card-header">


					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-plus"></i>

						</button>
						<a href="{{ path('vichels_new') }}" class="btn btn-primary">Create new</a>

					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="card-body mb-0 pb-0"></div>
				<!-- /.card-body -->
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>ShancyNumber</th>
						<th>Color</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for vichel in vichels %}
						<tr>
							<td>{{ vichel.id }}</td>
							<td>{{ vichel.shancyNumber }}</td>
							<td>{{ vichel.color }}</td>
							<td>
								<a href="{{ path('vichels_show', {'id': vichel.id}) }}" class="btn btn-primary btn-sm">
									<i class="fa fa-eye"></i>
								</a>
								<a href="{{ path('vichels_edit', {'id': vichel.id}) }}" class="btn btn-warning btn-sm">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(function () { // Initialize Select2 Elements
$('.select2').select2({theme: 'bootstrap4'});
});
	</script>
	<script>
		$('#custompaginator .page').click(function (e) {
e.preventDefault();
$('#filteruserform').attr('action', $(this).attr('href'));

$('#filteruserform').submit();

});
	</script>
{% endblock %}
