{% extends 'base.html.twig' %}

{% block title %}Vichels{% endblock %}

{% block body %}
    <h1>Vichels</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vichel.id }}</td>
            </tr>
            <tr>
                <th>ShancyNumber</th>
                <td>{{ vichel.shancyNumber }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ vichel.color }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vichels_index') }}">back to list</a>

    <a href="{{ path('vichels_edit', {'id': vichel.id}) }}">edit</a>

    {{ include('vichels/_delete_form.html.twig') }}
{% endblock %}
