{% extends 'base.html.twig' %}

{% block subTitle %}
	<li class="active">{% trans %}SMIS{% endtrans %}</li>
	<li class="active">
		<a href="{{path('suitable_initiative_report')}}">{% trans %}Princinpal Office Report{% endtrans %}</a>
	</li>
{% endblock %}

{% block body %}


	<div class="row">
		<div class=" pull-right">
			<a href="{{ path('principal_history') }}" title="history" class="btn btn-success  ">
				Report History
			</a>
		</div>
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">
						<strong>Principal Office Report
                                                   {# {% if suitable_initiatives %}
                                                    ( of {{suitable_initiatives[0].planningyear}})
                                                    {% endif %}#}
                                                </strong>
					</h5>

					<div class="widget-toolbar"></div>

					<div
						class="widget-toolbar">{# <span class="badge badge-info">
														{% trans %}Total{% endtrans %}
														:
														<strong>{{suitableTotal|length}}</strong>
													</span> #}


					</div>
				</div>

				<div class="widget-body">


					<div class="widget-main padding-16">
						{% if is_granted('vw_usr_lst') %}

							{#<div class="row">
								<div class="search-area well col-xs-12">

									<div class="row" style="margin-bottom:10px;">
										{{ form_start(filterform,{'attr': {'role':'form','id':'filteruserform'}}) }}
										<div class="col-md-3">
											<div class="form-group">
												{{ form_label(filterform.initiative,'Initiative') }}
												{{ form_widget(filterform.initiative,{'attr':{'class':'select2 form-control','data-placeholder':'chose initiative' }}) }}
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												{{ form_label(filterform.planyear,'Planning Year') }}
												{{ form_widget(filterform.planyear,{'attr':{'class':'select2 form-control','data-placeholder':'chose planning year' }}) }}
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												{{ form_label(filterform.principaloffice,"Principal Office") }}
												{{ form_widget(filterform.principaloffice,{'attr':{'class':'select2','data-placeholder':'select Principal office' }}) }}
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group" style="margin-top:25px;">
												<input type="submit" class="btn btn-primary btn-sm " value="Filter">
											</div>
										</div>


										{{ form_end(filterform) }}
									</div>
									<div class="pull-left"></div>


									<div class="pull-right"></div>
								</div>#}

							</div>
						{% endif %}

						<div class="table-responsive">
{#
							{% if is_granted('smis_rep_fetch') %}
								<div class="col-md-2 pull-right">
									<a href="{{ path('fetch_operational_accomplishment') }}" title="fetch" class="btn btn-success  ">
										Fetch Operational
									</a>
								</div>
							{% endif %}
							{% if is_granted('smis_rep_fetch') %}
								<div class="col-md-2 pull-right">
									<form action="{{path('fetch_operational_accomplishment')}}" method="post">
										<button type="submit" class="btn btn-primary">
											<input type="hidden" name="principal" value="principal">
											Fetch Principal
										</button>
									</form>

								</div>
							{% endif %}#}
							{% set status = 1 %}
							<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
								<thead>
									<tr>
										<th>#</th>
										<th>Suitable Initiative</th>
										<th>Office</th>
										<th>Quarter</th>
										<th>View</th>
										<th>Send</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									{% set count =  suitable_initiatives.getItemNumberPerPage() * (suitable_initiatives.getCurrentPageNumber() -1) %}
									{# {% set count = 0 %} #}
									{% for suitable_initiative in suitable_initiatives %}
										{% set value = 0 %}
										{% set plan = suitable_initiative.planningAccomplishments|filter(plan => plan.quarter.slug == currentQuarter) %}
										{% if plan|length %}
											{% set value = 1  %}
										{% endif %}
										{% if value %}

											<tr>
												{% set count = count + 1 %}
												<td>{{count}}</td>
{#												<td>{{ suitable_initiative.id}}</td>#}
												<td>{{ suitable_initiative.initiative}}</td>
												<td>{{ suitable_initiative.principalOffice}}
												</td>
												<td>
													{{currentQuarter }}
												</td>
												<td>
													<div class="col-md-3">
														<a class="btn btn-info btn-sm  " title="show" href="{{ path('suitable_initiative_show', {'id': suitable_initiative.id}) }}">View Plan</a>
													</div>
												</td>
												<td>
{#                                                                                                   {% if suitable_initiative.status == 1 %}#}
                                                                                                        
{#                                                                                                    {% else %}#}
													<div class="row">
														<div class="col-md-4">
															<a href="{{ path('initiative_accomplishment_list', {'id': suitable_initiative.id}) }}" title="show" class="btn btn-success btn-sm d-inline p-2 ">
																View Report
															</a>
														</div>
													</div>
{#                                                                                                   {% endif %}#}
												</td>
												<td>
													{% if suitable_initiative.status == 1 %}
														<span class="badge badge-primary">reported</span>
													{% else %}
														<span class="badge badge-danger">not reported
														</span>
													{% endif %}
												</td>
											</tr>
										{% endif %}
									{% else %}
										<tr>
											<td colspan="3">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class="pull-right" id="custompaginator">{{ knp_pagination_render(suitable_initiatives) }}</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}

	<script>
		$(function () {
$('.select2').css('width', '100%').select2({allowClear: false})


})
	</script>
	<script>
		$('#custompaginator .page-link').click(function (e) {
e.preventDefault();
$('#filteruserform').attr('action', $(this).attr('href'));

$('#filteruserform').submit();

});
	</script>
{% endblock %}
