{% extends 'base.html.twig' %}
{% block application_simple_title %}
	<strong>
		{% trans %}Strategic Management Information System{% endtrans %}</strong>
{% endblock %}
{% block mainTitle %}
	<li>
		<i class="icon-home home-icon"></i>
		<a href="">{% trans %}MIS{% endtrans %}</a>

		<span class="divider">
			<i class="arrow-icon"></i>
		</span>
	</li>
	<li>
		<i class="icon-home home-icon"></i>
		<a href="">{% trans %}SMIS{% endtrans %}</a>

		<span class="divider">
			<i class="arrow-icon"></i>
		</span>
	</li>

{% endblock %}
{% block subTitle %}
	<li class="active">{% trans %}Operational Office{% endtrans %}</li>
{% endblock %}
{% block body %}
	<div>

		{% for taskUser in taskUsers %}
			{% if loop.first %}
				<ul class="steps">
					<li data-step="1" class={% if taskUser.type == 1 %} "complete" {% elseif taskUser.type >= 1 %} "active" {% else %} {% endif %}>
						<span class="step">A</span>
						<span class="title">
							List Task</span>
					</li>
					<li data-step="2" class={% if taskUser.type == 1 %} "complete" {% elseif taskUser.type >= 1 %} "active" {% else %} {% endif %}>
						<span class="step">B</span>
						<span class="title">
							Assign Task
						</span>
					</li>

					<li
						data-step="3">
						{# class={% if taskAccomplishment.taskUser.type == 3 %} "complete" {% elseif taskAccomplishment.taskUser.type >= 3 %} "active" {% else %} {% endif %}> #}
						<span class="step">C</span>
						<span class="title">Accept Performers Report
						</span>
					</li>

					<li
						data-step="4">
						{# class={% if taskAccomplishment.taskUser.type == 4 %} "complete" {% elseif taskAccomplishment.taskUser.type >= 4 %} "active" {% else %} {% endif %}> #}
						<span class="step">D</span>
						<span class="title">
							Evaluate Performer
						</span>
					</li>
					<li
						data-step="5">
						{# class={% if taskAccomplishment.taskUser.type == 5 %} "complete" {% elseif taskAccomplishment.taskUser.type >= 5 %} "active" {% else %} {% endif %}> #}
						<span class="step">E</span>
						<span class="title">
							Send Report to Principals
						</span>
					</li>
				</ul>
			{% endif %}

		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header">
					{% set office = 0 %}
					<h5 class="widget-title bigger lighter">Operational Office
						{% if social == 1 %}
							Social Initiative
							{% else %}

						{% endif %}
						Total Remainig Weight=<div class="badge badge-danger">{{ 100 - count}}</div>
					</h5>

					<div class="widget-toolbar"></div>

					<div class="widget-toolbar">
						<span class="badge badge-info">
							{% trans %}Quarter{% endtrans %}
							:


							<strong>
								{{quarterName}}</strong>
						</span>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-toolbox" id="widget-toolbox-1">
						<div class="btn-toolbar">
							<div
								class="btn-group">
								{# {% if is_granted('CREATE_PERSPECTIVE') %} #}

								{% if count < 100 %}
									{% if social == 1 %}
										<a class="btn btn-primary btn-sm btn-white btn-round socialbtn" data-toggle="modal" data-target="#myModal">
											<i class="ace-icon fa fa-plus bigger-110 blue"></i>
											{% trans %}
											Create{% endtrans %}</a>
									{% else  %}
										<a class="btn btn-primary btn-sm btn-white btn-round social" data-toggle="modal" data-target="#myModal">
											<i class="ace-icon fa fa-plus bigger-110 blue"></i>
											{% trans %}
											Create{% endtrans %}</a>
									{% endif %}

								{% endif %}
								{% if count >= 100 %}
									<a class="btn btn-primary btn-sm btn-white btn-round" data-toggle="modal" data-target="#assign">
										<i class="ace-icon fa fa-check bigger-110 blue"></i>
										{% trans %}
										Assign{% endtrans %}</a>
								{% endif %}


							</div>


						</div>
					</div>

					<div class="widget-main padding-16">

						<div class="table-responsive">
							<form class="form-inline" method="post" style="display:inline;">

								<div class="input-group">
									<input type="text" class="form-control" name="search" placeholder="search"/>
									<div class="input-group-btn">
										<button type="submit" class="btn btn-default no-border btn-sm">
											<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
										</button>
									</div>
								</div>
							</form>
							{% if performerTasks %}


								<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
									<thead>
										<tr>
											<th>#</th>
											<th>TaskName</th>
											{% if social == 1 %}
												<th>Social</th>
											{% endif %}

											<th>Description</th>
											<th>Weight</th>
											<th>Quarter</th>
											<th>Assigned To</th>


										</tr>
									</thead>
									<tbody>
										{% set count = 0 %}
										{% for performerTask in performerTasks %}
											<tr>
												{% set count = count + 1 %}
												<td>{{ count}}</td>
												<td>{{ performerTask.name }}</td>
												{% if social == 1 %}

													<td>{{ performerTask.social }}</td>
												{% endif %}
												<td>{{ performerTask.description }}</td>
												<td>{{ performerTask.weight }}</td>
												<td>{{ performerTask.quarter }}</td>
												<td>
													{% set statusaccept = 0 %}
													<table class="table table-bordered table-responsive-xg table-hover">
														<tr>
															<th></th>
															<th>Start Date
															</th>
															<th>End Date
															</th>
															<th>Time Gap</th>
														</tr>
														{% for taskUser in taskUsers %}
															<tr>

																{% if taskUser.taskAssign.performerTask.id == performerTask.id  %}
																	{% set statusaccept = taskUser.status %}
																	<td>{{taskUser.assignedTo.userInfo}}</td>
																	<td>
																		{{taskUser.taskAssign.startDate}}</td>
																	<td>
																		{{taskUser.taskAssign.startDate}}
																	</td>
																	<td>{{taskUser.taskAssign.timeGap}}</td>


																{% endif %}
															</tr>
														{% endfor %}

													</table>

												</td>
												<input type="hidden" class="user" value="{{app.user.id}}">
												<input type="hidden" class="task" value="{{performerTask.planAcomplishment.suitableInitiative.id}}">
												<input type="hidden" class="office" value="{{performerTask.planAcomplishment.suitableInitiative.principalOffice.id}}">

												<input type="hidden" class="userprincipal" value="{{app.user.id}}">


											</tr>
										{% else %}
											<tr>
												<td colspan="8">no records found</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ include('operational_task/modal.html.twig') }}

{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js')}}"></script>
	<script>
		$(function () {
$('.select2').css('width', '100%').select2({allowClear: true})
})
	</script>
	<script>
		$(document).ready(function () {

var select = $('.userlist')
var userprincipal = $('.office').val();
$.ajax({
url:"{{ path('user_fetch') }}",
method: "POST",
data: {
userprincipal: userprincipal
},
dataType: "json",
success: function (data) { // $('.department').children().remove()
for (let [key, value] of Object.entries(data)) {


select.append('<option value="' + value.id + '">' + value.fullName + ' </option>');


}
}
});
})
	</script>
	<script>
		$(document).ready(function () {
var task = $('.task').val();
var user = $('.user').val();

var select = $('.crtask')

$.ajax({
url:"{{ path('task_fetch') }}",
method: "POST",
data: {
task: task,
user: user
},
dataType: "json",
success: function (data) { // $('.department').children().remove()
for (let [key, value] of Object.entries(data)) {


select.append('<option value="' + value.id + '">' + value.name + ' </option>');


}
}
});
})
	</script>
	<script>
		$('.socialbtn').click(function () {
$('.social').show();


})
	</script>
	<link
	rel="stylesheet" href="{{ asset('amharic/css/redmond.calendars.picker.css')}}">

	{# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> #}
	<script src="{{ asset('amharic/js/jquery.plugin.js')}}"></script>

	<script src="{{ asset('amharic/js/jquery.calendars')}}.js"></script>
	<script src="{{ asset('amharic/js/jquery.calendars')}}.plus.js"></script>
	<script src="{{ asset('amharic/js/jquery.calendars')}}.picker.js"></script>

	<script src="{{ asset('amharic/js/jquery.calendars')}}.ethiopian.js"></script>
	<script src="{{ asset('amharic/js/jquery.calendars')}}.ethiopian-am.js"></script>
	<script type="text/javascript" src="{{ asset('amharic/js/jquery.calendars')}}.picker-am.js"></script>

	<script>
		$(function () {
var calendar = $.calendars.instance('ethiopian', 'am');
$('#popupDatepicker').calendarsPicker({calendar: calendar});
$('.popupDatepicker').calendarsPicker({calendar: calendar});

$('#inlineDatepicker').calendarsPicker({calendar: calendar, onSelect: showDate});
});

function showDate(date) {
alert('The date chosen is ' + date);
}
	</script>


{% endblock %}
