{% extends 'base.html.twig' %}
{% block application_simple_title %}
	<strong>
		{% trans %}Strategic Management Information System{% endtrans %}</strong>
{% endblock %}
{% block mainTitle %}
	<li>
		<i class="icon-home home-icon"></i>
		<a href="">{% trans %}MIS{% endtrans %}</a>

		<span class="divider">
			<i class="arrow-icon"></i>
		</span>
	</li>
	<li>
		<i class="icon-home home-icon"></i>
		<a href="">{% trans %}SMIS{% endtrans %}</a>

		<span class="divider">
			<i class="arrow-icon"></i>
		</span>
	</li>

{% endblock %}
{% block subTitle %}
	<li class="active">{% trans %}Operational Office{% endtrans %}</li>
{% endblock %}
{% block body %}
	<div>

		{% for taskUser in taskUsers %}
			{% if loop.first %}
				<ul class="steps">
					<li data-step="1" class={% if taskUser.type == 1 %} "complete" {% elseif taskUser.type >= 1 %} "active" {% else %} {% endif %}>
						<span class="step">A</span>
						<span class="title">
							List Task</span>
					</li>
					<li data-step="2" class={% if taskUser.type == 1 %} "complete" {% elseif taskUser.type >= 1 %} "active" {% else %} {% endif %}>
						<span class="step">B</span>
						<span class="title">
							Assign Task
						</span>
					</li>

					<li
						data-step="3">
						{# class={% if taskAccomplishment.taskUser.type == 3 %} "complete" {% elseif taskAccomplishment.taskUser.type >= 3 %} "active" {% else %} {% endif %}> #}
						<span class="step">C</span>
						<span class="title">Accept Performers Report
						</span>
					</li>

					<li
						data-step="4">
						{# class={% if taskAccomplishment.taskUser.type == 4 %} "complete" {% elseif taskAccomplishment.taskUser.type >= 4 %} "active" {% else %} {% endif %}> #}
						<span class="step">D</span>
						<span class="title">
							Evaluate Performer
						</span>
					</li>
					<li
						data-step="5">
						{# class={% if taskAccomplishment.taskUser.type == 5 %} "complete" {% elseif taskAccomplishment.taskUser.type >= 5 %} "active" {% else %} {% endif %}> #}
						<span class="step">E</span>
						<span class="title">
							Send Report to Principals
						</span>
					</li>
				</ul>
			{% endif %}

		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header">
					{% set office = 0 %}
					<h5 class="widget-title bigger lighter">Operational Office																																																																																					
																		Total Remainig Weight=<div class="badge badge-danger">{{ 100 - count}}</div>
					</h5>

					<div class="widget-toolbar"></div>

					<div class="widget-toolbar">
						<span class="badge badge-info">
							{% trans %}Total{% endtrans %}
							:

							{# <strong>{{tasks|length}}</strong> #}
						</span>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-toolbox" id="widget-toolbox-1">
						<div class="btn-toolbar">
							<div
								class="btn-group">
								{# {% if is_granted('CREATE_PERSPECTIVE') %} #}

								{% if count < 100 %}

									<a class="btn btn-primary btn-sm btn-white btn-round" data-toggle="modal" data-target="#myModal">
										<i class="ace-icon fa fa-plus bigger-110 blue"></i>
										{% trans %}
										Create{% endtrans %}</a>
								{% endif %}

								{% if count >= 100 %}

									<a class="btn btn-primary btn-sm btn-white btn-round" data-toggle="modal" data-target="#assign">
										<i class="ace-icon fa fa-check bigger-110 blue"></i>
										{% trans %}
										Assign{% endtrans %}</a>
								{% endif %}


							</div>


						</div>
					</div>

					<div class="widget-main padding-16">

						<div class="table-responsive">
							<form class="form-inline" method="post" style="display:inline;">

								<div class="input-group">
									<input type="text" class="form-control" name="search" placeholder="search"/>
									<div class="input-group-btn">
										<button type="submit" class="btn btn-default no-border btn-sm">
											<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
										</button>
									</div>
								</div>
							</form>
							{% if operational_tasks %}


								<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
									<thead>
										<tr>
											<th>#</th>
											<th>TaskName</th>
											<th>Assigned To</th>
											<th>Description</th>
											<th>Weight</th>
											<th>Quarter</th>

										</tr>
									</thead>
									<tbody>
										{% set count = 0 %}
										{% for operational_task in operational_tasks %}
											<tr>
												{% set count = count + 1 %}
												<td>{{ count}}</td>
												<td>{{ operational_task.name }}</td>
												<td>
													{% set statusaccept = 0 %}
													<table class="table-bordered  table-hover" style="margin-top:10px; width:5px; height:10px;">
														<tr>
															<th>Performer Name</th>
															<th>Start Date
															</th>
															<th>End Date
															</th>
															<th>Time Gap</th>
														</tr>
														{% for taskUser in taskUsers %}
															<tr>

																{% if taskUser.taskAssign.performerTask.id == operational_task.id  %}
																	{% set statusaccept = taskUser.status %}
																	<td>{{taskUser.assignedTo.userInfo}}</td>
																	<td>
																		{{taskUser.taskAssign.startDate}}</td>
																	<td>
																		{{taskUser.taskAssign.startDate}}
																	</td>
																	<td>{{taskUser.taskAssign.timeGap}}</td>


																{% endif %}
															</tr>
														{% endfor %}

													</table>

												</td>

												<input type="hidden" class="task" value="{{operational_task.planAcomplishment.id}}">
												<input type="hidden" class="office" value="{{operational_task.planAcomplishment.suitableInitiative.principalOffice.id}}">

												<input type="hidden" class="userprincipal" value="{{app.user.id}}">
												<td>{{ operational_task.description }}</td>

												<td>{{ operational_task.weight }}</td>
												<td>{{ operational_task.quarter }}</td>

											</tr>
										{% else %}
											<tr>
												<td colspan="8">no records found</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="myModal" class="modal fade" role="dialog">
			<div
				class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Create Task</h4>
					</div>
					<div class="modal-body">
						{{ form_start(form,{'attr': {'class': 'my-form-class'} }) }}
						<div class="form-group">
							{{ form_label(form.name) }}
							{{ form_widget(form.name,{'attr':{ 'class': 'form-control'}}) }}

						</div>
						<div class="form-group">
							{{ form_label(form.description) }}
							{{ form_widget(form.description,{'attr':{ 'class': 'form-control'}}) }}

						</div>


						<div class="form-group">
							{{ form_label(form.weight) }}
							{{ form_widget(form.weight,{'attr':{ 'class': 'form-control'}}) }}

						</div>

						<div class="form-group">
							{{ form_label(form.quarter) }}
							{{ form_widget(form.quarter,{'attr':{ 'class': 'form-control'}}) }}

						</div>


					</div>


				</div>
				<div class="modal-footer">
					<input class="btn btn-primary pull-right  " type="submit" value="{% trans %}Create{% endtrans %}"/>
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
		<div id="assign" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<form
					method="post" action="{{path('task_assign')}}">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header bg-info">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Assign Task</h4>
						</div>
						<div class="modal-body">

							<div class="row">
								<div class="col-md-6">

									<lable class=" control-label no-padding-right">
										<b>
											Select Performer
										</b>
									</lable>
									<select autocomplete="off" name="user[]" id="user" class="form-control user select2  " multiple="true">


										<option></option>
									</select>


								</div>
								<div class="col-md-6">

									<lable class=" control-label no-padding-right">
										<b>
											Select Task
										</b>
									</lable>
									<select autocomplete="off" name="task[]" id="crtask" class="form-control crtask select2  " multiple="true">


										<option></option>
									</select>


								</div>
								<div class="col-md-6">

									<lable class=" control-label no-padding-right">
										<b>
											Start Date
										</b>
									</lable>
									<input type="text" name="startDate" class="form-control popupDatepicker" autocomplete="off" required>


								</div>
								<div class="col-md-6">

									<lable class=" control-label no-padding-right">
										<b>
											End Date
										</b>
									</lable>
									<input type="text" name="endDate" class="form-control popupDatepicker" autocomplete="off" required>


								</div>
								<div class="col-md-6">

									<lable class=" control-label no-padding-right">
										<b>
											Time Gap
										</b>
									</lable>
									<input type="number" name="timeGap" class="form-control " autocomplete="true" required>


								</div>


							</div>
							<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>ExpectedValue</th>
										<th>Description</th>


									</tr>
								</thead>
								<tbody>
									{% set count = 0 %}
									{% for measurement in measurements %}
										<tr>
											{% set count = count + 1 %}
											<td>{{ count}}</td>
											<td>{{ measurement.name }}</td>
											<input type="hidden" name="measurementId[]" value={{measurement.id}}>

											<td><input type="text" name="expectedValue[]" class="form-control"></td>
											<td><input type="text" name="measurementDescription[]" class="form-control" required></td>


										</tr>
									{% else %}
										<tr>
											<td colspan="8">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>


						</div>


					</div>
					<div class="modal-footer">
						<input class="btn btn-primary pull-right  " type="submit" value="{% trans %}Assign{% endtrans %}"/>
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	{% endblock %}
	{% block javascripts %}
		<script src="{{asset('assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js')}}"></script>
		<script>
			$(function () {
$('.select2').css('width', '100%').select2({allowClear: true})
})
		</script>
		<script>
			$(document).ready(function () {

var select = $('.user')
var userprincipal = $('.office').val();
$.ajax({
url:"{{ path('user_fetch') }}",
method: "POST",
data: {
userprincipal: userprincipal
},
dataType: "json",
success: function (data) { // $('.department').children().remove()
for (let [key, value] of Object.entries(data)) {


select.append('<option value="' + value.id + '">' + value.fullName + ' </option>');


}
}
});
})
		</script>
		<script>
			$(document).ready(function () {
var task = $('.task').val();

var select = $('.crtask')

$.ajax({
url:"{{ path('task_fetch') }}",
method: "POST",
data: {
task: task
},
dataType: "json",
success: function (data) { // $('.department').children().remove()
for (let [key, value] of Object.entries(data)) {


select.append('<option value="' + value.id + '">' + value.name + ' </option>');


}
}
});
})
		</script>
		<link
		rel="stylesheet" href="{{ asset('amharic/css/redmond.calendars.picker.css')}}">

		{# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> #}
		<script src="{{ asset('amharic/js/jquery.plugin.js')}}"></script>

		<script src="{{ asset('amharic/js/jquery.calendars')}}.js"></script>
		<script src="{{ asset('amharic/js/jquery.calendars')}}.plus.js"></script>
		<script src="{{ asset('amharic/js/jquery.calendars')}}.picker.js"></script>

		<script src="{{ asset('amharic/js/jquery.calendars')}}.ethiopian.js"></script>
		<script src="{{ asset('amharic/js/jquery.calendars')}}.ethiopian-am.js"></script>
		<script type="text/javascript" src="{{ asset('amharic/js/jquery.calendars')}}.picker-am.js"></script>

		<script>
			$(function () {
var calendar = $.calendars.instance('ethiopian', 'am');
$('#popupDatepicker').calendarsPicker({calendar: calendar});
$('.popupDatepicker').calendarsPicker({calendar: calendar});

$('#inlineDatepicker').calendarsPicker({calendar: calendar, onSelect: showDate});
});

function showDate(date) {
alert('The date chosen is ' + date);
}
		</script>


	{% endblock %}
