{% extends 'base.html.twig' %}

{% block subTitle %}
	<li class="active">{% trans %}SMIS{% endtrans %}</li>
	<li class="active">
		<a href="{{path('suitable_initiative_report')}}">{% trans %}Princinpal Office Report{% endtrans %}</a>
	</li>
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">
						<strong>Principal Office Report</strong>
					</h5>

					<div class="widget-toolbar"></div>

					<div class="widget-toolbar">
						<span class="badge badge-info">
							{% trans %}Total{% endtrans %}
							:
							<strong>{{suitable_initiatives|length}}</strong>
						</span>
					</div>
				</div>

				<div class="widget-body">


					<div class="widget-main padding-16">
						<div class="row">
							<div class="search-area well col-xs-12">
								{# <form action="{{path('principal_office_report')}}" method="post">
									<button type="submit" name="excel"  value="excel" class="btn btn-default no-border btn-sm">
                                    Excel
									</button>
								</form> #}

								<div class="row" style="margin-bottom:10px;">
									{{ form_start(filterform,{'attr': {'role':'form','class':'' }}) }}
									<div class="col-md-3">
										<div class="form-group">
											{{ form_label(filterform.initiative,'Initiative') }}
											{{ form_widget(filterform.initiative,{'attr':{'class':'select2 form-control','data-placeholder':'chose initiative' }}) }}
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											{{ form_label(filterform.planyear,'Planning Year') }}
											{{ form_widget(filterform.planyear,{'attr':{'class':'select2 form-control','data-placeholder':'chose planning year' }}) }}
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											{{ form_label(filterform.principaloffice,"Principal Office") }}
											{{ form_widget(filterform.principaloffice,{'attr':{'class':'select2','data-placeholder':'select Principal office' }}) }}
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group" style="margin-top:25px;">
											<input type="submit" class="btn btn-primary btn-sm " value="Filter">
										</div>
									</div>


									{{ form_end(filterform) }}
								</div>
								<div class="pull-left">


									<form class="form-inline" method="post" style="display:inline;">

										<div class="input-group">
											<input type="text" class="form-control" name="search" placeholder="search"/>
											<div class="input-group-btn">
												<button type="submit" class="btn btn-default no-border btn-sm">
													<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
												</button>
											</div>
										</div>
									</form>

								</div>


								<div class="pull-right"></div>
							</div>

						</div>

						<div class="table-responsive">
							{% set status = 1 %}
							<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
								<thead>
									<tr>
										<th>#</th>
										<th>Suitable Initiative</th>

										<th>Office</th>
										{# <th>Planning Year</th> #}
										<th>View</th>
										<th>Send</th>
										<th>Status</th>



									</tr>
								</thead>
								<tbody>
									{% set count =  suitable_initiatives.getItemNumberPerPage() * (suitable_initiatives.getCurrentPageNumber() -1) %}
									{% for suitable_initiative in suitable_initiatives %}
										<tr>
											{% set count = count + 1 %}

											<td>{{count}}</td>
											<td>{{ suitable_initiative.initiative}}</td>
											<td>{{ suitable_initiative.principalOffice}}
											</td>
											{# <td>{{suitable_initiative.planningYear}}</td> #}

											<td>
												<div class="col-md-3">
													<a class="btn btn-info btn-sm  " title="show" href="{{ path('suitable_initiative_show', {'id': suitable_initiative.id}) }}">View Plan</a>
													{# <a class="btn btn-primary btn-sm" title="send" href="{{ path('initiative_accomplishment_list', {'id': suitable_initiative.id}) }}">Send To Plan</a> #}

												</div>
											</td>
											<td>
												<div class="row">


													<div class="col-md-4">


														<a href="{{ path('initiative_accomplishment_list', {'id': suitable_initiative.id}) }}" title="show" class="btn btn-success btn-sm d-inline p-2 ">
															View Report
														</a>
													</div>
												</div>

											
												
											</td>
											<td>

													{% if suitable_initiative.status == 1 %}
														<span class="badge badge-primary">reported</span>
													{% else %}
														<span class="badge badge-danger">not reported </span>
													{% endif %}
											</td>


										</tr>
									{% else %}
										<tr>
											<td colspan="3">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class="pull-right" id="custompaginator">{{ knp_pagination_render(suitable_initiatives) }}</div>

						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

{% endblock %}
{% block javascripts %}

	<script>
		$(function () {
$('.select2').css('width', '100%').select2({allowClear: false})


})
	</script>
{% endblock %}
