{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			{# <h4 class="lighter">
																																																<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
																																																<a href="#modal-wizard" data-toggle="modal" class="pink">
																																																	Wizard Inside a Modal Box
																																																</a>
																																															</h4> #}

			{# <div class="hr hr-18 hr-double dotted"></div> #}
				<div>
					<ul class="steps"> <li data-step="1" class={% if initiatives is defined %}
                    "complete"
                    {% else %}
                        " active"
                    {% endif %}>
						<span class="step">1</span>
						<span class="title">Select Report Period And Office</span>
					</li>

					<li data-step="2" class= {% if initiative is defined %}
                    "active"
                    {% else %}
                        " "
                    {% endif %}
                    >


						<span class="step">2</span>
						<span class="title">
							Select Suitable Initiative with your teammates
						</span>
					</li>

					<li data-step="3">
						<span class="step">3</span>
						<span class="title">Create And Assign Task</span>
					</li>

					<li data-step="4">
						<span class="step">4</span>
						<span class="title">
							Confirmation by Planning Directorate
						</span>
					</li>
				</ul>
			</div>
			<div class="well well-sm">
				<button type="reset" id="reset-widgets" class="btn btn-info btn-white btn-bold btn-round" data-toggle="modal" data-target="#myModal">
					<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
					<strong>Select Report period and offices</strong>
				</button>

			</div>


			<div class="widget-body">
				<div class="widget-main">
					
								{% if initiatives is defined %}
									<div class="table-responsive">
										<form class="form-inline" method="post" style="display:inline;">

											<div class="input-group">
												<input type="text" class="form-control" name="search" placeholder="search"/>
												<div class="input-group-btn">
													<button type="submit" class="btn btn-default no-border btn-sm">
														<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
													</button>
												</div>
											</div>
										</form>

										<table class="table table-condensed table-striped table-bordered table-hover" style="margin-top:10px;">
											<thead>
												<tr>
													<th rowspan="2">#</th>

													<th rowspan="2">Name</th>

													<th rowspan="2">initiative Behavior</th>

													{# <th rowspan="2">Year</th> #}


													<th rowspan="2">Yearly Plan</th>

													<th colspan="2">
														1st Quarter
													</th>
													<th colspan="2">
														2nd Quarter


													</th>
													<th colspan="2">
														3rd Quarter


													</th>
													<th colspan="2">
														4th Quarter</th>


													<th rowspan="2">actions</th>

												</tr>
												<tr>
													<th>Plan</th>
													<th>Accom.</th>
													<th>Plan</th>
													<th>Accom.</th>
													<th>Plan</th>
													<th>Accom.</th>
													<th>Plan</th>
													<th>Accom.</th>
												</tr>
											</thead>
											<tbody>
												{% for initiative in initiatives %}
													<tr>
														<td>{{ initiative.id }}</td>
														<td>{{ initiative.name }}</td>
														<td>{{ initiative.initiativeBehaviour}}</td>
														<td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
					
														<td>
															<a  class="btn btn-info btn-xs " href="{{ path('initiatve_show', {'id': initiative.id}) }}" title="add task"> <span class="glyphicon glyphicon-tasks"></span></i>     task</a>
															<a data-toggle="modal" data-target="#{{initiative.id}}"   href="#">edit</a>
														</td>
													</tr>
                                                    {% include 'plan/plan.modal.html.twig' with {'initiative': initiative } %}
												{% else %}
													<tr>
														<td colspan="7">no records found</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
										{# <div class="pull-right">{{ knp_pagination_render(initiatives) }}</div> #}
									</div>


								{% endif %}
							

							
					

					<hr/>
					{# <div class="wizard-actions">
																			              <button class="btn btn-prev">
																			                <i class="ace-icon fa fa-arrow-left"></i>
																			                Prev
																			              </button>
																			
																			              <button class="btn btn-success btn-next" data-last="Finish">
																			                Next
																			                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
																			              </button>
																			            </div> #}
				</div>
				<!-- /.widget-main -->
			</div>
			<!-- /.widget-body -->
		</div><!-- PAGE CONTENT ENDS --></div><!-- /.col -->
   
    {{ include('plan/modal.html.twig') }}
	<script type="text/javascript">
		jQuery(function ($) {
$('.select2').css('width', '90%').select2({allowClear: false})

})
	</script>
{% endblock %}
