{% extends 'base.html.twig' %}
{% block subTitle %}
	<li class="active">{% trans %}SMIS{% endtrans %}</li>
	<li class="active">
		<a href="{{path('plan_index')}}">{% trans %}Cascading{% endtrans %}</a>
	</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
			<div class="tabbable">
				<ul class="nav nav-tabs nav-justified tab-color-blue  " id="myTab">
					<li class="active">
						<a data-toggle="tab" id="tabHome" href="#home" class="lead text-primary" aria-expanded="true">

							<strong>{% trans %}Cascading{% endtrans %}</strong>
						</a>
					</li>


				</ul>
				<div class="tab-content">
					<div id="home" class="tab-pane fade active in">
						<div class="row">
							<div class="col-md-12 col-lg-12 col-sm-12">
								<div class="jumbotron text-white">
									<ul class="steps">
										<li data-step="1" class={% if initiatives is defined or suitableInitiatives is defined or suitableplans is defined %} "complete" {% else %} " active" {% endif %}>
											<span class="step">1</span>
											<span class="title text-primary">{% trans %}Select Reporting Year And Office{% endtrans %}</span>
										</li>

										<li data-step="2" class={% if initiatives is defined %} "active" {% elseif suitableInitiatives is defined or suitableplans is defined %} "complete" {% else %} " " {% endif %}>


											<span class="step">2</span>
											<span class="title">
												{% trans %}Select Suitable Initiative with your teammates{% endtrans %}
											</span>
										</li>

										<li data-step="3" class={% if (isAllActive is defined and isAllActive == false and suitableplans is defined ) or operational_office_report is defined and operational_office_report == false %} "active" {% elseif isAllActive is defined and isAllActive == true or operational_office_report is defined and operational_office_report == true %} "complete" {% endif %}>
											<span class="step" class=>3</span>
											<span class="title">{% trans %}Set PO’s Yearly plan with AC/ teams{% endtrans %}
											</span>
										</li>

										{# <li data-step="4" class={% if (operational_office_report is defined and operational_office_report== true) %} "active" {% endif %}>
																					<span class="step">4</span>
																					<span class="title">
																						{% trans %}Accept Operational Managers’ report{% endtrans %}
																					</span>
																				</li>
																				<li data-step="5">
																					<span class="step">5</span>
																					<span class="title">
																						{% trans %}
																						Send report to JU{% endtrans %}
																					</span>
																				</li> #}
									</ul>
								</div>
								<div class="well well-sm">
									<button type="reset" id="reset-widgets" class="btn btn-info btn-white btn-bold btn-round" data-toggle="modal" data-target="#myModal">
										<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
										<strong>{% trans %}Select Report Year and Office{% endtrans %}</strong>
									</button>
									<div class="pull-right">
										{% if pricipaloffice is defined %}
											<span class="badge badge-info">
												<b class="text-white">
													Principal Office:
													{{pricipaloffice}}
												</b>
											</br>
											<b class="text-white">
												Reporting Year:
												{{planyear}}
											</b>
										</span>

									{% endif %}
								</div>
							</div>


							<!-- /.widget-body -->

							{% if suitableplans is defined  and operational_office_report is defined  %}

								{{ include('plan/plan.view.html.twig') }}
							{% endif %}
							{% if suitableplans is defined  and operational_office_report is defined and operational_office_report == true  %}

								{{ include('plan/operational_office_report.html.twig') }}
							{% endif %}
							{% if suitableInitiatives is defined %}
								<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
									<div class="widget-box widget-color-blue" id="widget-box-8">
										<div class="widget-header">
											<h5 class="widget-title bigger lighter">
												<strong>{% trans %}Suitable Initiative{% endtrans %}</strong>
											</h5>
											<div class="widget-toolbar"></div>
											<div class="widget-toolbar">
												<span class="badge badge-info">
													{% trans %}Total{% endtrans %}
													:{{suitableInitiatives|length}}
													<strong></strong>
												</span>
											</div>
										</div>
										<div class="widget-body">
											<div class="widget-toolbox" id="widget-toolbox-1">
												<div class="btn-toolbar">
													<div class="btn-group"></div>


												</div>
											</div>
											<div class="widget-main padding-16">
												<div
													class="row">

												</div>
												<div class="table-responsive">

													<div>
														<button type="submit">Print</button>
														<a href="{{path('plan_recover',{'planyear':planyear.id,'office':pricipaloffice.id})}}" aria-expanded="false" class="lead recover">
															<strong>Recover</strong>
														</a>
													</div>
													<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
														<thead>
															<tr>

																<th>#</th>
																<th>Name</th>
																<th>Yearly Plan</th>
																<th>Quarter 1</th>
																<th>Quarter 2</th>
																<th>Quarter 3</th>
																<th>Quarter 4</th>
																<th>Denominator</th>
																<th>actions</th>
															</tr>
														</thead>
														<tbody>
															{# {% set count =  objectives.getItemNumberPerPage() * (objectives.getCurrentPageNumber() -1) %} #}

															<input type="hidden" name="planyear" value="{{planyear.id}}">
															<input type="hidden" name="office" value="{{pricipaloffice.id}}">

															{% for suitableInitiative in suitableInitiatives %}
																<tr>


																	<td>{{ loop.index}}

																	</td>
																	<td>{{suitableInitiative.initiative.name }}</td>

																	<td>{{ "__" }}</td>


																	{% for quarter in quarters %}
																		<td>
																			{% if suitableInitiative.planningAccomplishments|length > 0 %}
																				{% if suitableInitiative.initiative.socialAtrribute|length > 0 %}
																					{% for plan in suitableInitiative.planningAccomplishments|filter(plan => plan.quarter.id == quarter.id) %}

																						<p>{{plan.socialAttribute.name|title}}
																							:
																							{{plan.planValue}}</p>


																					{% endfor %}
																				{% else %}
																					{% for plan in suitableInitiative.planningAccomplishments|filter(plan => plan.quarter.id == quarter.id) %}


																						{{plan.planValue }}


																					{% endfor %}
																				{% endif %}
																			{% else %}
																				{% for socialattribute in suitableInitiative.initiative.socialAtrribute %}
																					<p>{{socialattribute.name|title}}
																						: __</p>
																				{% else %}
																					__

																				{% endfor %}

																			{% endif %}

																		</td>
																	{% endfor %}
																	<td>
																		{{suitableInitiative.denominator ? suitableInitiative.denominator: " __"}}
																	</td>
																	<td>
																		{# <a href="{{ path('initiative_show', {'id': suitableInitiative.initiative.id}) }}" class="btn btn-primary btn-sm">
																																																																																																																																																																																																																																<i class="fa fa-eye"></i>
																																																																																																																																																																																																																															</a> #}
                                                                                                                                            {% if is_granted('plan_yearly_plan') %}

																		<a href="#" title="add plan" data-id="{{suitableInitiative.id}}" data-office="{{pricipaloffice.id}}" data-year="{{planyear.id}}" class="addPlan btn btn-warning btn-sm">
																			<span class="glyphicon glyphicon-plus"></span>
																			{% if suitableInitiative.planningAccomplishments|length > 0 %}
																				Edit Plan
																			{% else %}

																				Add Plan    
																			{% endif %}
																		</a>
																		<a href="#" class="btn btn-primary btn-sm">
																			<span class="glyphicon glyphicon-tasks"></span>
																		</a>
                                                                                                                                                {% endif %}
																	</td>
																</tr>
															{% else %}
																<tr>
																	<td colspan="8">no records found</td>
																</tr>
															{% endfor %}

														</tbody>
													</table>
													<div class="pull-right" id="pager">{{ knp_pagination_render(suitableInitiatives) }}</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							{% endif %}

							{% if initiatives is defined %}
								{{ include('plan/initiative_recommend.html.twig') }}
							{% endif %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- PAGE CONTENT ENDS -->
</div>
<!-- /.col -->
<div class="plandiv" id="plandiv"></div>
{{ include('plan/modal.html.twig') }}
{% endblock %}
{% block javascripts %}

<script>
	$('.approve').click(function () {
var btn = this;
var operationalOfId = $(this).attr('data-operational');
var suitableInId = $(this).attr('data-suitableInId');

$.ajax({
url:"{{ path('approve_operational_plan') }}",
method: "POST",
data: {
operationalOfId: operationalOfId,
suitableInId: suitableInId
},
dataType: "json",
success: function (data) { // $('.department').children().remove()
btn.remove();

toastr["success"]("Successfully approved!!!")

}

});
// location.reload(true);

})
</script>

<script type="text/javascript">

	$(function () {
$('.select2').css('width', '90%').select2({allowClear: false})


// $('#suitablebutton').click(function () {

// $('#initiative_form').submit();
// });


$('.addPlan').click(function () {

var $initiativeId = $(this).attr('data-id');
var $operationalOffice = $(this).attr('data-operational');
$.ajax({
url: "{{ path('plan_add') }}",
method: "post",
data: {

id: $initiativeId,
operational: $operationalOffice


},
success: function (data) {

$("#plandiv").html(data)
$('.planmodal').modal('toggle');
var currentpa = $('.currentpa').val();
$('.currentPage').val(currentpa);
},
error: function (data) {

$("#plandiv").html(data)
$('.planmodal').modal('toggle');
var currentpa = $('.currentpa').val();
$('.currentPage').val(currentpa);
}
});
})
$('.nav-tabs a').on('show.bs.tab', function (event) {
var x = $(event.target).text(); // active tab
var y = $(event.relatedTarget).text();
// previous tab

});
$('.show-details-btn').on('click', function (e) {
e.preventDefault();

$(this).closest('tr').next('tr').siblings('tr.open').toggleClass('open');

$(this).closest('tr').next().toggleClass('open');


// $(this).closest('tr').not().next().toggleClass('open');
// $('tr.detail-row').not().toggleClass('open');
$(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');

// $(this).closest('tr').siblings().removeClass('open')
});

var myTable = $('#dynamic-table').DataTable({
bAutoWidth: false,
"aoColumns": [
{
"bSortable": false
},
null,
null,
null, {
"bSortable": false
}
],
"aaSorting": [],


// "bProcessing": true,
// "bServerSide": true,
// "sAjaxSource": "http://127.0.0.1/table.php"	,

// ,
// "sScrollY": "200px",
// "bPaginate": false,

// "sScrollX": "100%",
// "sScrollXInner": "120%",
// "bScrollCollapse": true,
// Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
// you may want to wrap the table inside a "div.dataTables_borderWrap" element

// "iDisplayLength": 50


select: {
style: 'multi'
}
});

myTable.on('select', function (e, dt, type, index) {
if (type === 'row') {
$(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
}
});
myTable.on('deselect', function (e, dt, type, index) {
if (type === 'row') {
$(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
}
});

$('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

$('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
var th_checked = this.checked; // checkbox inside "TH" table header

$('#dynamic-table').find('tbody > tr').each(function () {
var row = this;
if (th_checked) 
myTable.row(row).select();
 else 
myTable.row(row).deselect();



});
});
$('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
var row = $(this).closest('tr').get(0);
if (this.checked) 
myTable.row(row).deselect();
 else 
myTable.row(row).select();



});

$('#suitablebutton').click(function () {
var $form = $('#initiative_form');
myTable.$('input[type="checkbox"]').each(function () {
if (!$.contains(document, this)) {
if (this.checked) {
$form.append($('<input>').attr('type', 'hidden').attr('name', this.name).val(this.value));
}
}
})

$('#initiative_form').submit();
})

});
</script>

<script>
	$(document).ready(function () {
$('#tabHome').click(function () {
location.hash = "";
var newUrl = location.href.replace("page=" + {{ app.request.query.get('page') }}, "page=1");
window.location.replace(newUrl);
})
$('#home .page-link').each(function () {
var href = $(this).attr('href');
$(this).attr('href', href + "#home")
})
$('#messages .page-link').each(function () {
var href = $(this).attr('href');
$(this).attr('href', href + "#messages")
})


});
$(document).ready(function () {


if (location.hash) {
$("a[href='" + location.hash + "']").tab("show");
}

});
$(window).on("popstate", function () {
var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
$("a[href='" + anchor + "']").tab("show");
});
</script>{% endblock %}
