{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			{# <h4 class="lighter">
																																																<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
																																																<a href="#modal-wizard" data-toggle="modal" class="pink">
																																																	Wizard Inside a Modal Box
																																																</a>
																																															</h4> #}

			{# <div class="hr hr-18 hr-double dotted"></div> #}
				<div>
					<ul class="steps"> <li data-step="1" class={% if initiatives is defined or suitableInitiatives is defined %}
                    "complete"
                    {% else %}
                        " active"
                    {% endif %}>
						<span class="step">1</span>
						<span class="title">Select Planning Year And Office</span>
					</li>

					<li data-step="2" class= {% if initiatives is defined %}
                    "active"
                    {% elseif suitableInitiatives is defined %}
                    "complete"
                    {% else %}
                        " "
                    {% endif %}
                    >


						<span class="step">2</span>
						<span class="title">
							Select Suitable Initiative with your teammates
						</span>
					</li>

					<li data-step="3" class= {% if suitableInitiatives is defined %}
                    "active"
                    {% endif %}
                   >
						<span class="step">3</span>
						<span class="title">Create And Assign Task</span>
					</li>

					<li data-step="4">
						<span class="step">4</span>
						<span class="title">
							Confirmation by Planning Directorate
						</span>
					</li>
				</ul>
			</div>
			<div class="well well-sm">
				<button type="reset" id="reset-widgets" class="btn btn-info btn-white btn-bold btn-round" data-toggle="modal" data-target="#myModal">
					<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
					<strong>Select Report period and offices</strong>
				</button>
                <div class="pull-right">
                {% if pricipaloffice is defined %}
              <span class="badge badge-info"> Principal Office: {{pricipaloffice}}
              </br>
              Planning Year: {{planyear}}
              </span>
                {# <span class="badge badge-info"> Quarter: {{pricipaloffice}}</span> #}
                {% endif %}
                </div>
			</div>


			<div class="widget-body">
				<div class="widget-main">
					
								{% if suitableInitiatives is defined %}
									<div class="table-responsive">
										<form class="form-inline" method="post" style="display:inline;">

											<div class="input-group">
												<input type="text" class="form-control" name="search" placeholder="search"/>
												<div class="input-group-btn">
													<button type="submit" class="btn btn-default no-border btn-sm">
														<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
													</button>
												</div>
											</div>
										</form>

										<table class="table table-condensed table-striped table-bordered table-hover" style="margin-top:10px;">
											<thead>
												<tr>
													<th rowspan="2">#</th>

													<th rowspan="2">Name</th>

													<th rowspan="2">initiative Behavior</th>

													{# <th rowspan="2">Year</th> #}


													<th rowspan="2">Yearly Plan</th>

													<th colspan="2">
														1st Quarter
													</th>
													<th colspan="2">
														2nd Quarter


													</th>
													<th colspan="2">
														3rd Quarter


													</th>
													<th colspan="2">
														4th Quarter</th>


													<th rowspan="2">actions</th>

												</tr>
												<tr>
													<th>Plan</th>
													<th>Accom.</th>
													<th>Plan</th>
													<th>Accom.</th>
													<th>Plan</th>
													<th>Accom.</th>
													<th>Plan</th>
													<th>Accom.</th>
												</tr>
											</thead>
											<tbody>
												{% for suitableInitiative in suitableInitiatives %}
													<tr>
														<td>{{ loop.index }}</td>
														<td>{{ suitableInitiative.initiative.name }}</td>
														<td>{{ suitableInitiative.initiative.initiativeBehaviour}}</td>
														<td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
                                                        <td>{{ "0"}}</td>
					
														<td>

															<a  class="btn btn-info btn-xs " href="{{ path('operational_task_index', {'id':suitableInitiative.initiative.id}) }}" title="add task"> <span class="glyphicon glyphicon-tasks"></span></i>     task</a>
															<button data-toggle="modal"  data-target ="#{{suitableInitiative.initiative.id}}" data-id="{{suitableInitiative.initiative.id}}"    data-backdrop="static"   >edit</button>
														</td>
													</tr>
                                                

												{% else %}
													<tr>
														<td colspan="7">no records found</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
										{# <div class="pull-right">{{ knp_pagination_render(initiatives) }}</div> #}
									</div>


								{% endif %}
							<div class="tab-content no-border no-padding">
												<div id="inbox" class="tab-pane in active">
													<div class="message-container">
														<div id="id-message-list-navbar" class="message-navbar clearfix">
															<div class="message-bar">
																<div class="message-infobar hide" id="id-message-infobar">
																	<span class="blue bigger-150">Inbox</span>
																	<span class="grey bigger-110">(2 unread messages)</span>
																</div>

																<div class="message-toolbar">
																	<div class="inline position-relative align-left">
																		<button type="button" class="btn-white btn-primary btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
																			<span class="bigger-110">Action</span>

																			<i class="ace-icon fa fa-caret-down icon-on-right"></i>
																		</button>

																		<ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-mail-reply blue"></i>&nbsp; Reply
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-mail-forward green"></i>&nbsp; Forward
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-folder-open orange"></i>&nbsp; Archive
																				</a>
																			</li>

																			<li class="divider"></li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-eye blue"></i>&nbsp; Mark as read
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-eye-slash green"></i>&nbsp; Mark unread
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-flag-o red"></i>&nbsp; Flag
																				</a>
																			</li>

																			<li class="divider"></li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-trash-o red bigger-110"></i>&nbsp; Delete
																				</a>
																			</li>
																		</ul>
																	</div>

																	<div class="inline position-relative align-left open">
																		<button type="button" class="btn-white btn-primary btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
																			<i class="ace-icon fa fa-folder-o bigger-110 blue"></i>
																			<span class="bigger-110">Move to</span>

																			<i class="ace-icon fa fa-caret-down icon-on-right"></i>
																		</button>

																		<ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-stop pink2"></i>&nbsp; Tag#1
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-stop blue"></i>&nbsp; Family
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-stop green"></i>&nbsp; Friends
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-stop grey"></i>&nbsp; Work
																				</a>
																			</li>
																		</ul>
																	</div>

																	<button type="button" id="applicable" class="btn btn-xs btn-white btn-primary" onclick="return confirm('are you sure you want to select this initiative for opperational unit?')">
																		<i class="ace-icon fa fa-trash-o bigger-125 orange"></i>
																		<span class="bigger-110">select</span>
																	</button>
																</div>
															</div>

															<div>
																<div class="messagebar-item-left">
																	<label class="inline middle">
																		<input type="checkbox" id="checkall" class="ace">
																		<span class="lbl"></span>
																	</label>

																	&nbsp;
																	<div class="inline position-relative">
																		<a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
																			<i class="ace-icon fa fa-caret-down bigger-125 middle"></i>
																		</a>

																		<ul class="dropdown-menu dropdown-lighter dropdown-100">
																			<li>
																				<a id="id-select-message-all" href="#">All</a>
																			</li>

																			<li>
																				<a id="id-select-message-none" href="#">None</a>
																			</li>

																			<li class="divider"></li>

																			<li>
																				<a id="id-select-message-unread" href="#">Unread</a>
																			</li>

																			<li>
																				<a id="id-select-message-read" href="#">Read</a>
																			</li>
																		</ul>
																	</div>
																</div>

																<div class="messagebar-item-right">
																	<div class="inline position-relative">
																		<a href="#" data-toggle="dropdown" class="dropdown-toggle">
																			Sort &nbsp;
																			<i class="ace-icon fa fa-caret-down bigger-125"></i>
																		</a>

																		<ul class="dropdown-menu dropdown-lighter dropdown-menu-right dropdown-100">
																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-check green"></i>
																					Date
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-check invisible"></i>
																					From
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-check invisible"></i>
																					Subject
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>

																<div class="nav-search minimized">
																	<form class="form-search">
																		<span class="input-icon">
																			<input type="text" autocomplete="off" class="input-small nav-search-input" placeholder="Search inbox ...">
																			<i class="ace-icon fa fa-search nav-search-icon"></i>
																		</span>
																	</form>
																</div>
															</div>
														</div>

														<div id="id-message-item-navbar" class="hide message-navbar clearfix">
															<div class="message-bar">
																<div class="message-toolbar">
																	<div class="inline position-relative align-left">
																		<button type="button" class="btn-white btn-primary btn btn-xs dropdown-toggle" data-toggle="dropdown">
																			<span class="bigger-110">Action</span>

																			<i class="ace-icon fa fa-caret-down icon-on-right"></i>
																		</button>

																		<ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-mail-reply blue"></i>&nbsp; Reply
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-mail-forward green"></i>&nbsp; Forward
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-folder-open orange"></i>&nbsp; Archive
																				</a>
																			</li>

																			<li class="divider"></li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-eye blue"></i>&nbsp; Mark as read
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-eye-slash green"></i>&nbsp; Mark unread
																				</a>
																			</li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-flag-o red"></i>&nbsp; Flag
																				</a>
																			</li>

																			<li class="divider"></li>

																			<li>
																				<a href="#">
																					<i class="ace-icon fa fa-trash-o red bigger-110"></i>&nbsp; Delete
																				</a>
																			</li>
																		</ul>
																	</div>

																	<div class="inline position-relative align-left">
																		<button type="button" class="btn-white btn-primary btn btn-xs dropdown-toggle" data-toggle="dropdown">
																			<i class="ace-icon fa fa-folder-o bigger-110 blue"></i>
																			<span class="bigger-110">Move to</span>

																			<i class="ace-icon fa fa-caret-down icon-on-right"></i>
																		</button>

																	</div>

																	<button type="button" class="btn btn-xs btn-white btn-primary">
																		<i class="ace-icon fa fa-trash-o bigger-125 orange"></i>
																		<span class="bigger-110">Delete</span>
																	</button>
																</div>
															</div>

															<div>
																<div class="messagebar-item-left">
																	<a href="#" class="btn-back-message-list">
																		<i class="ace-icon fa fa-arrow-left blue bigger-110 middle"></i>
																		<b class="bigger-110 middle">Back</b>
																	</a>
																</div>

																<div class="messagebar-item-right">
																	<i class="ace-icon fa fa-clock-o bigger-110 orange"></i>
																	<span class="grey">Today, 7:15 pm</span>
																</div>
															</div>
														</div>

														

														<div class="message-list-container">
															<div class="message-list" id="message-list">
                                                            {% if initiatives is defined %}
                                                            <form action="{{path('plan_index')}}" id="initiative_form" method="post">
                                                            {% for initiative in initiatives %}
                                                                <input type="hidden" name="planyear" value="{{planyear.id}}">
                                                                <input type="hidden" name="office" value="{{pricipaloffice.id}}">
                                                           
																<div class="message-item message-unread selected">
																	<label class="inline">
																		<input type="checkbox" name="initiative[]" value="{{initiative.id}}" class="ace" required>
																		<span class="lbl"></span>
																	</label>

																
																	<span class="sender" title="Alex John Red Smith">{{initiative.name}} </span>
																	<span class="time">1:33 pm</span>

																	<span class="summary">
																		<span class="text">
																			{{initiative.description}}
																		</span>
																	</span>
																</div>
                                                                 {% endfor %}
                                                                 </form>
                                                                 {% endif %}

																

															</div><form id="id-message-form" class="form-horizontal message-form col-xs-12 hide">
									                      <div>
									

										<div class="space"></div>
									</div>
								</form>
														</div>

														<div class="message-footer clearfix">
															<div class="pull-right"> 151 messages total </div>

															{# <div class="pull-right">
																<div class="inline middle"> page 1 of 16 </div>

																&nbsp; &nbsp;
																<ul class="pagination middle">
																	<li class="disabled">
																		<span>
																			<i class="ace-icon fa fa-step-backward middle"></i>
																		</span>
																	</li>

																	<li class="disabled">
																		<span>
																			<i class="ace-icon fa fa-caret-left bigger-140 middle"></i>
																		</span>
																	</li>

																	<li>
																		<span>
																			<input value="1" maxlength="3" type="text">
																		</span>
																	</li>

																	<li>
																		<a href="#">
																			<i class="ace-icon fa fa-caret-right bigger-140 middle"></i>
																		</a>
																	</li>

																	<li>
																		<a href="#">
																			<i class="ace-icon fa fa-step-forward middle"></i>
																		</a>
																	</li>
																</ul>
															</div> #}
														</div>

														<div class="hide message-footer message-footer-style2 clearfix">
															<div class="pull-left"> simpler footer </div>

															<div class="pull-right">
																<div class="inline middle"> message 1 of 151 </div>

																&nbsp; &nbsp;
																<ul class="pagination middle">
																	<li class="disabled">
																		<span>
																			<i class="ace-icon fa fa-angle-left bigger-150"></i>
																		</span>
																	</li>

																	<li>
																		<a href="#">
																			<i class="ace-icon fa fa-angle-right bigger-150"></i>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>

							
					

					<hr/>
					{# <div class="wizard-actions">
																			              <button class="btn btn-prev">
																			                <i class="ace-icon fa fa-arrow-left"></i>
																			                Prev
																			              </button>
																			
																			              <button class="btn btn-success btn-next" data-last="Finish">
																			                Next
																			                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
																			              </button>
																			            </div> #}
				</div>
				<!-- /.widget-main -->
			</div>
			<!-- /.widget-body -->
		</div><!-- PAGE CONTENT ENDS --></div><!-- /.col -->
       {% if suitableInitiatives is defined %}
        {% for suitableInitiative in suitableInitiatives %}
         {% include 'plan/plan.modal.html.twig'%}
        {% endfor %}
        {% endif %}
    {{ include('plan/modal.html.twig') }}
    {% endblock %}
    {% block javascripts %}
	<script type="text/javascript">
		$(function() {
$('.select2').css('width', '90%').select2({allowClear: false})
$('#applicable').click(function(){
    $('#initiative_form').submit();
})
$('#checkall').click(function(){
    var $chk=$(':checkbox');
   $chk.prop('checked',$(this).is(':checked'));
  // if($(this))
     //   $chk.prop('checked',$chk.prop(':checked'));

   // $('input[type=checkbox]').click();
})
$('.modalbtn').click(function(){
   
    var id1 = $(this).attr('data-id');
   
  // console.log(`${id1}`);
  //$('.modal').modal('hide');
    // {# $("[href!='default.htm']") #}
   //$('.close-modal').trigger('click');
 //var visible=$('.modal.show').attr('id');
 // if(visible != id1){
//$(".modal[id!= "+id1+"]").modal('hide');
 // }
 
 // alert(id1);

  // $("#"+id1).modal({backdrop: 'false', keyboard: false});
   //
    //$("#"+id1).removeAttr("style");
   // $('.planmodal').hide();
   //$(`#${id1}`).css('display','block');
   $(`#${id1}`).modal();
   //alert(`#${id1}`);
   

})

});
	</script>
{% endblock %}
