{% extends 'base.html.twig' %}
{% block subTitle %}
	<li class="active">{% trans %}SMIS{% endtrans %}</li>
	<li class="active">
		<a href="{{path('plan_principal')}}">{% trans %}plan{% endtrans %}</a>
	</li>
{% endblock %}
{% block body %}
	<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
		<div class="widget-box widget-color-blue" id="widget-box-8">
			<div class="widget-header">
				<h5 class="widget-title bigger lighter">
					<strong>{% trans %}Principal Office  Plans{% endtrans %}</strong>
				</h5>
				<div class="widget-toolbar"></div>
				<div class="widget-toolbar">
					<span class="badge badge-info">
						{% trans %}Total{% endtrans %}
						{# :{{initiatives.getTotalItemCount()}} #}
						<strong></strong>
					</span>
				</div>
			</div>
			<div class="widget-body">
				<div class="widget-toolbox" id="widget-toolbox-1">
					<div class="btn-toolbar">
						<div class="btn-group"></div>


					</div>
				</div>
				<div class="widget-main padding-16">
					<div class="row">
						<div class="search-area well col-xs-12">

							<div class="row" style="margin-bottom:10px;">
								{{ form_start(filterform,{'attr': {'role':'form','class':'' }}) }}
								<div class="col-md-3">
									<div class="form-group">
										{{ form_label(filterform.initiative,'Initiative') }}
										{{ form_widget(filterform.initiative,{'attr':{'class':'select2 form-control','data-placeholder':'chose initiative' }}) }}
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										{{ form_label(filterform.kpi,'Kpi') }}
										{{ form_widget(filterform.kpi,{'attr':{'class':'select2 form-control','data-placeholder':'chose initiative' }}) }}
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										{{ form_label(filterform.strategy,'Strategy') }}
										{{ form_widget(filterform.strategy,{'attr':{'class':'select2 form-control','data-placeholder':'chose initiative' }}) }}
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										{{ form_label(filterform.objective,'Objective') }}
										{{ form_widget(filterform.objective,{'attr':{'class':'select2 form-control','data-placeholder':'chose initiative' }}) }}
									</div>
								</div>

								<div class="clearfix"></div>
								<div class="col-md-3">
									<div class="form-group">
										{{ form_label(filterform.goal,'Goal') }}
										{{ form_widget(filterform.goal,{'attr':{'class':'select2 form-control','data-placeholder':'chose initiative' }}) }}
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										{{ form_label(filterform.planyear,'Planning Year') }}
										{{ form_widget(filterform.planyear,{'attr':{'class':'select2 form-control','data-placeholder':'chose planning year' }}) }}
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										{{ form_label(filterform.principaloffice,"Principal Office") }}
										{{ form_widget(filterform.principaloffice,{'attr':{'class':'select2','data-placeholder':'select Principal office' }}) }}
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group" style="margin-top:25px;">
										<input type="submit" class="btn btn-primary btn-sm " value="Filter">
									</div>
								</div>


								{{ form_end(filterform) }}
							</div>
							<div class="pull-left">


								<form class="form-inline" method="post" style="display:inline;">

									<div class="input-group">
										<input type="text" class="form-control" name="search" placeholder="search"/>
										<div class="input-group-btn">
											<button type="submit" class="btn btn-default no-border btn-sm">
												<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
											</button>
										</div>
									</div>
								</form>

							</div>


							<div class="pull-right"></div>
						</div>

					</div>
					<div class="table-responsive">


						<table class="table table-striped table-bordered table-hover" style="empty-cells: hide;">
							<thead>
								<tr>

									<th rowspan="2">#</th>
									<th rowspan="2">Initiative</th>
									<th rowspan="2">{% trans %}behavior{% endtrans %}</th>
									<th rowspan="2">Principal Office</th>
									<th rowspan="2">Year</th>
									<th colspan="2">yearly</th>
									<th colspan="2">1st Quarter</th>
									<th colspan="2">2nd Quarter</th>
									<th colspan="2">3rd Quarter</th>
									<th colspan="2">4th  Quarter</th>


								</tr>

								<tr>


									<th>plan</th>
									<th>Accomp.</th>
									<th>plan</th>
									<th>Accomp.</th>
									<th>plan</th>
									<th>Accomp.</th>
									<th>plan</th>
									<th>Accomp.</th>
									<th>plan</th>
									<th>Accomp.</th>


								</tr>
							</thead>
							<tbody>
								{# {% set count =  objectives.getItemNumberPerPage() * (objectives.getCurrentPageNumber() -1) %} #}
								{% for suitable in suitableplans %}


									{# {% if suitable.initiative.initiativeBehaviour.code == 0 %}

										{% set yearlyplan = suitable.planningAccomplishments|filter(plan => plan.quarter.slug==1).planValue %}
									{% endif %} #}
									{# {% set yearlyplan = getYearlyPlan(suitable) %} #}


									<tr>
										<td>{{loop.index}}</td>
										<td>{{suitable.initiative}}</td>
										<td>{{suitable.initiative.initiativeBehaviour}}</td>
										<td>{{suitable.principalOffice}}</td>
										<td>{{suitable.planningYear}}</td>
										<td>{{ getYearlyPlan( suitable,'year')}}</td>
										<td>{{ getYearlyPlanAccomp( suitable,'year')}}</td>
										
										<td>{{ getQuarterPlan( suitable,1)}}</td>
										<td>{{ getQuarterPlanAccomp( suitable,1)}}</td>
										<td>{{ getQuarterPlan( suitable,2)}}</td>
										<td>{{ getQuarterPlanAccomp( suitable,2)}}</td>
										<td>{{ getQuarterPlan( suitable,3)}}</td>
										<td>{{ getQuarterPlanAccomp( suitable,3)}}</td>
										<td>{{ getQuarterPlan( suitable,4)}}</td>
										<td>{{ getQuarterPlanAccomp( suitable,4)}}</td>

									</tr>

								{% endfor %}


							</tbody>
						</table>
						{# <div class="float-left" id="custompaginator">{{ knp_pagination_render(objectives) }}</div> #}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
