<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
	<div class="widget-box widget-color-blue" id="widget-box-8">
		<div class="widget-header">
			<h5 class="widget-title bigger lighter">
				<strong>Yearly Plan</strong>
			</h5>
			<div class="widget-toolbar"></div>
			<div class="widget-toolbar">
				<span class="badge badge-info">
					{% trans %}Total{% endtrans %}
					:{{suitableplans|length}}
					<strong></strong>
				</span>
			</div>
		</div>
		<div class="widget-body">
			<div class="widget-toolbox" id="widget-toolbox-1">
				<div class="btn-toolbar">
					<div class="btn-group"></div>


				</div>
			</div>
			<div class="widget-main padding-16">
				<div class="row">
					<div class="search-area well col-xs-12">
						<div style="margin-bottom:10px;"></div>
						<div class="pull-left">


							<form class="form-inline" method="post" style="display:inline;">

								<div class="input-group">
									<input type="text" class="form-control" name="search" placeholder="search"/>
									<div class="input-group-btn">
										<button type="submit" class="btn btn-default no-border btn-sm">
											<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
										</button>
									</div>
								</div>
							</form>

						</div>


						<div class="pull-right">
							<div class="widget-toolbar no-border">


								<button class="btn btn-sm btn-round btn-bold btn-white bigger btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<b class="text-primary">Action</b>
									<i class="ace-icon fa fa-chevron-down icon-on-right"></i>
								</button>

								<ul class="dropdown-menu dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
									<li>
										<a href="#" id="suitablebutton">
											<i class="ace-icon fa fa-stop green"></i>
											Select As Suitable</a>
									</li>

									<li>

										<a href="#">
											<i class="ace-icon fa fa-stop pink2"></i>
											Select As Non Suitable</a>
									</li>


								</ul>
							</div>

						</div>
					</div>

				</div>
				<div class="table-responsive">


					<table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
						<thead>
							<tr>

								<th>#</th>
								<th>{% trans %}Initiative{% endtrans %}</th>
								<th>{% trans %}Base{% endtrans %}</th>
								{# <th>baseline</th> #}
								<th>{% trans %}yearPlan{% endtrans %} </th>
								<th>{% trans %}1st Quarter{% endtrans %}</th>
								<th>{% trans %}2nd Quarter{% endtrans %}</th>
								<th>{% trans %}3rd Quarter{% endtrans %}</th>
								<th>{% trans %}4th  Quarter{% endtrans %}</th>
                                <th>{% trans %}Denominator{% endtrans %}</th>
								<th>{% trans %}actions{% endtrans %}</th>
							</tr>
						</thead>
						<tbody>
							{# {% set count =  objectives.getItemNumberPerPage() * (objectives.getCurrentPageNumber() -1) %} #}


							{% for suitableplan in suitableplans %}
								<tr>

									<td>{{ loop.index}}

									</td>
									<td>{{suitableplan.initiative|title }}</td>
                                    <td>{{suitableplan.initiative.weight }}</td>
                                    {# <td>{{suitableplan.initiative.baseline }}</td> #}


									<td>
										{# {% for behavior in suitableplan.initiative.initiativeBehaviour %} #}

										{% if suitableplan.initiative.initiativeBehaviour.code == 0 %}
											{% if suitableplan.initiative.socialAtrribute|length > 0 %}
												{% for plan in suitableplan.planningAccomplishments|filter(plan => plan.quarter.slug == 1) %}

													<p>{{plan.socialAttribute.name|first|title}}
														:
														{{plan.planValue}}</p>


												{% endfor %}
											{% else %}
												{% for plan in suitableplan.planningAccomplishments|filter(plan => plan.quarter.slug == 1) %}

													<p>

														{{plan.planValue}}</p>


												{% endfor %}

											{% endif %}
										{% elseif  suitableplan.initiative.initiativeBehaviour.code == 1  %}

											{% for attribute in suitableplan.initiative.socialAtrribute %}
												{% set yearplan = suitableplan.planningAccomplishments|filter(plan => plan.socialAttribute.id == attribute.id)|reduce((previousTotal,row)=> previousTotal + row.planValue) %}

												{{attribute.name|title}}:{{yearplan ??"___" }}
											{% else %}
												{% set yearplan = suitableplan.planningAccomplishments|reduce((previousTotal,row)=> previousTotal + row.planValue) %}
												{{yearplan }}
											{% endfor %}


										{% elseif  suitableplan.initiative.initiativeBehaviour.code == 2  %}


											{% for attribute in suitableplan.initiative.socialAtrribute %}
												{% set maxValue = 0 %}
												{% for plan in suitableplan.planningAccomplishments|filter(plan => plan.socialAttribute.id == attribute.id) %}
													{% set maxValue = max(plan.planValue,maxValue) %}

												{% endfor %}
												<p>{{attribute.name|first|title}}:
													{{maxValue ??"___" }}</p>
											{% else %}
												{% set maxValue = 0 %}
												{% for plan in suitableplan.planningAccomplishments %}
													{% set maxValue = max(plan.planValue,maxValue) %}

												{% endfor %}
												<p>
													{{maxValue == 0 ?"___" :maxValue}}</p>
											{% endfor %}

										{% elseif  suitableplan.initiative.initiativeBehaviour.code == 3  %}

											{% for attribute in suitableplan.initiative.socialAtrribute %}
												{% set maxValue = suitableplan.initiative.maximumValue %}
												{% for plan in suitableplan.planningAccomplishments|filter(plan => plan.socialAttribute.id == attribute.id) %}
													{% set maxValue = min(plan.planValue,maxValue) %}

												{% endfor %}
												<p>{{attribute.name|first|title}}:
													{{maxValue == suitableplan.initiative.maximumValue ?"___": maxValue }}</p>
											{% else %}
												{% set maxValue = suitableplan.initiative.maximumValue %}
												{% for plan in suitableplan.planningAccomplishments %}
													{% set maxValue = min(plan.planValue,maxValue) %}

												{% endfor %}
												<p>{{maxValue == suitableplan.initiative.maximumValue ?"___": maxValue }}</p>
											{% endfor %}


										{% endif %}


									</td>
									{% for quarter in quarters %}
										<td>

											{% if suitableplan.initiative.socialAtrribute|length > 0 %}
												{% for plan in suitableplan.planningAccomplishments|filter(plan => plan.quarter.id == quarter.id) %}

													<p>{{plan.socialAttribute.name|first|title}}
														:
														{{plan.planValue}}</p>


												{% endfor %}
											{% else %}
												{% for plan in suitableplan.planningAccomplishments|filter(plan => plan.quarter.id == quarter.id) %}


													{{plan.planValue }}

												{% endfor %}
											{% endif %}


										</td>
									{% endfor %}
                                      <td>{{suitableplan.denominator}}</td>

									<td>

										{% if suitableplan.planningAccomplishments|length > 0 %}
                                        {% if is_granted('edt_pln') %}
                                        
                                       
											<a href="#" data-id="{{suitableplan.id}}" data-office="{{pricipaloffice.id}}" data-year="{{planyear.id}}" title="edit plan" class="addPlan btn btn-warning btn-sm">

												<span class="glyphicon glyphicon-edit"></span>


											</a>
                                             {% endif %}
										{% else %}
                                        {% if is_granted('add_pln') %}
                                        
                                        
											<a href="#" data-id="{{suitableplan.id}}" data-office="{{pricipaloffice.id}}" data-year="{{planyear.id}}" title="add plan" class="addPlan btn btn-info btn-sm">


												<span class="glyphicon glyphicon-plus"></span>

											</a>
                                            {% endif %}

										{% endif %}

									</td>

                                  
								</tr>
							{% else %}
								<tr>
									<td colspan="8">no records found</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
					<div class="pull-right" id="custompaginator">{{ knp_pagination_render(suitableplans) }}</div>

				</div>
			</div>
		</div>
	</div>
</div>
