{% if suitableInitiative is defined %}
	<div class="modal fade planmodal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">
						{{suitableInitiative.initiative.name|title}}
						Plan</h4>
				</div>
				<div class="modal-body">
					<form method="post" action="{{path('plan_phase_office')}}" id="planform" class="form-horizontal">
						<div class="row">
							<div class="col-sm-12">

								{% set constant = false %}
								{% set attr = suitableInitiative.initiative %}
								{% set  atr = attr.socialAtrribute %}
								{# {% for behavior in initiative.initiativeBehaviour %} #}
									<input type="hidden" name="behav[]" value="{{initiative.initiativeBehaviour.code}}">
									{% if initiative.initiativeBehaviour.code == 0 %}
										{% set constant = true %}
									{% endif %}
								{# {% endfor %} #}

								<div class="well well-sm">
									<strong>Yearly Plan(
									{{initiative.initiativeBehaviour}}

										)
										<div class="yearylplans pull-right"></div>

										<span class="text-warning  pull-right" id="yearlyplan"></span>
									</strong>
								</div>

								<input type="hidden" name="suitableInitiative" value="{{suitableInitiative.id}}">

								{% for quarter in quarters %}
									<div class="well well-sm">
										<strong>{{quarter.name|title}}
											Quarter</strong>
									</div>
									<div class="row">


										{% if initiative.socialAtrribute|length > 0 %}


											{% for socialattribute in suitableInitiative.initiative.socialAtrribute %}
                                              {% set plan  = plans|filter(plan=>plan.quarter.id == quarter.id and plan.socialAttribute.id == socialattribute.id)|first %}
                                                       {% set planvalue = plan.planValue %}
												{% if constant == true %}
                                                  
													<div class="col-sm-6">


														<div class="form-group">
															<label class="control-label  col-sm-4" for="{{socialattribute.id}}">{{ socialattribute.name|title}}:
															</label>
															<div class="col-sm-8">
																<input type="text" name="planvalue[]" {{ quarter.slug == 1 ?" ":"readonly" }}  value="{{planvalue??""}}" data-name="{{socialattribute.name}}" data-attr="{{socialattribute.id}}" id="{{socialattribute.id}}" class="form-control" placeholder="enter your plan value" required>
															</div>
														</div>
													</div>
												{% else %}
													<div class="col-sm-6">
														<div class="form-group">
															<label class="control-label  col-sm-4" for="{{socialattribute.id}}">{{ socialattribute.name|title}}:
															</label>
															<div class="col-sm-8">
																<input type="text" name="planvalue[]" data-name="{{socialattribute.name}}"   value="{{planvalue??""}}" data-attr="{{socialattribute.id}}" id="{{socialattribute.id}}" class="form-control" placeholder="enter your plan value" required>
															</div>
														</div>
													</div>

												{% endif %}


											{% endfor %}
										{% else %}
                                        {% set plan  = plans|filter(plan=>plan.quarter.id == quarter.id)|first %}
                                         {% set planvalue = plan.planValue %}
											{% if constant == true %}

												<div class="col-sm-6">
													<div class="form-group">
														<label class="control-label  col-sm-4" for="">Plan Value</label>
														<div class="col-sm-8">
                                                       
                                                       
                                                       {# <pre>
                                                           {{ dump(plan) }}
                                                       </pre> #}
															<input type="text" name="planvalue[]" {{quarter.slug == 1? "":"readonly"}} class="form-control" value="{{planvalue??""}}"  placeholder="enter your plan value" required>
														</div>
													</div>
												</div>
											{% else %}
												<div class="col-sm-6">
													<div class="form-group">
														<label class="control-label  col-sm-4" for="">Plan Value</label>
														<div class="col-sm-8">
															<input type="text" name="planvalue[]" value="{{planvalue??""}}" class="form-control" placeholder="enter your plan value" required>
														</div>
													</div>
												</div>
											{% endif %}

										{% endif %}
									</div>

								{% endfor %}

                                   {% if initiative.measurement == constant('RATIO',initiative) %}
							
									<div class="col-sm-10">
										<div class="form-group">
											<label class="control-label  col-sm-2" for="">Of Total</label>
											<div class="col-sm-6">
												<input type="text" name="denominator"  value= "{{suitableInitiative.denominator??""}}" class="form-control" placeholder="enter Of Total" required>
											</div>
										</div>
									</div>
                                    {% endif %}
			


							</div>


						</div>


						<div class="modal-footer">

							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
							<button type="submit" id="btnsubmit" class="btn btn-primary">Submit</button>


						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endif %}

<script>
	function behavior(value) {
var behav = [];


$("input:hidden[name^='behav']").each(function () {
behav.push($(this).val());

});
if (behav.includes(value)) 
return true;
 else 
return false;

}

function incremental(currentInput){
    var isvalid=true;
    var relatedInput=$("input:enabled:text[data-attr][data-name="+currentInput.data('name')+"]");
     if($(relatedInput).index(currentInput)>=0){
      var currentindex=$(relatedInput).index(currentInput);
       for(var i=0;i<relatedInput.length;i++){
           if(i<$(relatedInput).index(currentInput)){
               if(relatedInput.eq(i).val()!="" && Number(currentInput.val())< Number(relatedInput.eq(i).val())){
           $(currentInput).next('span').remove();
           $(currentInput).closest('div.form-group').removeClass('has-error');
           $(currentInput).focus();
           $(currentInput).closest('div.form-group').addClass('has-error');
            $(currentInput).after($('<span class="text-danger">must be greater than previous quarter</span>'))
           isvalid= false;
        }
       else{
           $(currentInput).next('span').remove();
           $(currentInput).closest('div.form-group').removeClass('has-error');
         
       }

           }
           if(i>$(relatedInput).index(currentInput)){
            if(relatedInput.eq(i).val()!="" && Number(currentInput.val())> Number(relatedInput.eq(i).val())){
            $(relatedInput.eq(i)).next('span').remove();
            $(relatedInput.eq(i)).closest('div.form-group').removeClass('has-error');
            $(relatedInput.eq(i)).focus();
            $(relatedInput.eq(i)).closest('div.form-group').addClass('has-error');
            $(relatedInput.eq(i)).after($('<span class="text-danger">must be greater than previous quarter</span>'))
            }
             else{
           $(relatedInput.eq(i)).next('span').remove();
           $(relatedInput.eq(i)).closest('div.form-group').removeClass('has-error');
         
       }

           }
       }
       if(relatedInput.length-1 == currentindex && !$(currentInput).closest('div.form-group').hasClass('has-error')){
            var prespan = $('div.yearylplans').children('span.'+ $(currentInput).attr('data-name'));
            var span = $('<span class="text-primary" style="margin-right:10px;"></span>');
            if (prespan.length > 0) 
            prespan.remove();

            span.addClass($(currentInput).attr('data-name'));
            span.text(currentInput.attr('data-name').toUpperCase()+"="+$(currentInput).val());
           $('div.yearylplans').prepend(span);

       }
       
     }
     return true; 
       
}
function socialDecremental(currentInput){
    var isvalid=true;
    var relatedInput=$("input:enabled:text[data-attr][data-name="+currentInput.data('name')+"]");
     if($(relatedInput).index(currentInput)>=0){
      var currentindex=$(relatedInput).index(currentInput);
       for(var i=0;i<relatedInput.length;i++){
           if(i<$(relatedInput).index(currentInput)){
               if(relatedInput.eq(i).val()!="" && Number(currentInput.val())> Number(relatedInput.eq(i).val())){
           $(currentInput).next('span').remove();
           $(currentInput).closest('div.form-group').removeClass('has-error');
           $(currentInput).focus();
           $(currentInput).closest('div.form-group').addClass('has-error');
            $(currentInput).after($('<span class="text-danger">Must be less than previous quarter</span>'))
           isvalid= false;
        }
       else{
           $(currentInput).next('span').remove();
           $(currentInput).closest('div.form-group').removeClass('has-error');
         
       }

           }
           if(i>$(relatedInput).index(currentInput)){
            if(relatedInput.eq(i).val()!="" && Number(currentInput.val())< Number(relatedInput.eq(i).val())){
            $(relatedInput.eq(i)).next('span').remove();
            $(relatedInput.eq(i)).closest('div.form-group').removeClass('has-error');
            $(relatedInput.eq(i)).focus();
            $(relatedInput.eq(i)).closest('div.form-group').addClass('has-error');
            $(relatedInput.eq(i)).after($('<span class="text-danger">must be greater than previous quarter</span>'))
            }
             else{
           $(relatedInput.eq(i)).next('span').remove();
           $(relatedInput.eq(i)).closest('div.form-group').removeClass('has-error');
         
       }

           }
       }
       
     }
     return true; 
       
}

$("input:enabled:text[data-attr][name!='denominator']").on("keyup",function () {

var currentInput=$(this);
if(behavior("2")){
   if(!incremental(currentInput))
        return ;
          }
if (behavior("1") ) {
    var prespan = $('div.yearylplans').children('span.'+ $(this).attr('data-name'));
    var input=$("input:enabled:text[data-attr]");
   
    var sum=0;
   
 
  
    for(var i=0;i<input.length;i++){
     if(input.eq(i).val()!== "" && (input.eq(i).attr('data-name')== $(this).attr('data-name'))){
      sum = sum+Number(input.eq(i).val());
          
       }
   }
     if (prespan.length > 0) {
         $('div.yearylplans').children('span.'+currentInput.attr('data-name')).html(currentInput.attr('data-name') + "=" + sum );
     }
     else{
   var span = $('<span class="text-primary" style="margin-right:10px;"></span>');
   span.addClass($(this).attr('data-name'));
   span.text(currentInput.attr('data-name').toUpperCase()+"="+sum);
   $('div.yearylplans').append(span);
     }
    

  

}
var yearplans = [];
var yearlyplan = {
name: " ",
plan: 0
};

var atr2 = $(this);
yearlyplan.name = $(this).attr('data-name');
yearlyplan.plan = $(this).val();
yearplans.push(yearlyplan);


if (behavior("0")) {
$("input[data-attr]:text[readonly]").each(function () {
if (typeof $(this).attr('data-attr') !== "undefined" && $(this).attr('data-attr') !== null) {
if (atr2.attr('data-attr') == $(this).attr('data-attr')) {
$(this).val(atr2.val());
}
}
});

yearplans.forEach(function (value, index, array) {
var prespan = $('div.yearylplans').children('span.' + value.name);
if (prespan.length > 0) {
$('div.yearylplans').children('span.'+value.name).html(value.name + "=" + value.plan );
}
else{

var span = $('<span class="text-primary" style="margin-right:10px;">' + value.name + "=" + value.plan + '</span>');
span.addClass(value.name);
$('div.yearylplans').append(span);

}
})

}
if (behavior("3")) {
   
     if(!socialDecremental(currentInput))
        return ;
          }
 

});


function nonSocialIncremental(currentNode){
    var inputElement=$("input:enabled:text:not([data-attr])");
    var isvalid=true;
      if($(inputElement).index(currentNode)>=0){
         for(var i=0;i<inputElement.length;i++){
            if(i<$(inputElement).index(currentNode)){
            
            if(inputElement.eq(i).val()!== null && (Number(currentNode.val())<Number(inputElement.eq(i).val()))){
              isvalid=false;
           
            }
              
        }
        if(i>$(inputElement).index(currentNode)){
           
        if((inputElement.eq(i).val()!=="") && (Number(inputElement.eq(i).val()) < Number(currentNode.val()))){
            $(inputElement.eq(i)).next('span').remove();
            $(currentNode).closest('div.form-group').removeClass('has-error');
            $(inputElement.eq(i)).focus();
            $(inputElement.eq(i)).closest('div.form-group').addClass('has-error');
            $(inputElement.eq(i)).after($('<span class="help-block text-danger">must be greater than previous quarter</span>'))
         }
         
         else{
            $(inputElement.eq(i)).next('span').remove();
            $(currentNode).closest('div.form-group').removeClass('has-error');
         }
        }
         }
    if(!isvalid){
            $(currentNode).next('span').remove();
            $(currentNode).focus();
            $(currentNode).closest('div.form-group').addClass('has-error');
            $(currentNode).after($('<span class="help-block text-danger">must be greater than previous quarter</span>'))
    }
    else{
        $(currentNode).next('span').remove();
        $(currentNode).closest('div.form-group').removeClass('has-error');

    }
    return isvalid;
       
      }
      return isvalid;
}

function decremental(currentNode){
     var inputElement=$("input:enabled:text:not([data-attr])");
      var isvalid=true;
      if($(inputElement).index(currentNode)>=0){
         for(var i=0;i<inputElement.length;i++){
            if(i<$(inputElement).index(currentNode)){
            
            if(inputElement.eq(i).val()!="" && (Number(currentNode.val())>Number(inputElement.eq(i).val()))){
              isvalid=false;
             $(currentNode).next('span').remove();
            $(currentNode).focus();
            $(currentNode).closest('div.form-group').addClass('has-error');
            $(currentNode).after($('<span class="help-block text-danger">your plan value must be less than than previous quarter</span>'))
            return;
           
            }
              
        }
        if(i>$(inputElement).index(currentNode)){
           
        if((inputElement.eq(i).val()!=="") && (Number(inputElement.eq(i).val()) > Number(currentNode.val()))){
            $(inputElement.eq(i)).next('span').remove();
            $(currentNode).closest('div.form-group').removeClass('has-error');
            $(inputElement.eq(i)).focus();
            $(inputElement.eq(i)).closest('div.form-group').addClass('has-error');
            $(inputElement.eq(i)).after($('<span class="help-block text-danger"> your plan value must be less than than previous quarter</span>'))
         }
         
         else{
            $(inputElement.eq(i)).next('span').remove();
            $(currentNode).closest('div.form-group').removeClass('has-error');
         }
        }
         }
    if(!isvalid){
            $(currentNode).next('span').remove();
            $(currentNode).focus();
            $(currentNode).closest('div.form-group').addClass('has-error');
            $(currentNode).after($('<span class="help-block text-danger">your plan value must be less than than previous quarter</span>'))
    }
    else{
        $(currentNode).next('span').remove();
        $(currentNode).closest('div.form-group').removeClass('has-error');

    }
    return isvalid;
       
      }
      return isvalid;

}



$("input:enabled:text:not([data-attr])[name!='denominator']").keyup(function () {

var inpt = $(this);
var inputArray=$("input:enabled:text:not([data-attr])[name!='denominator']");

if (behavior("0")) {
$('div.yearylplans').html($('<span class="text-primary" style="margin-right:10px;">' + "=" + inpt.val() + '</span>'));
$("input:text[readonly]:not([data-attr])").each(function () {
$(this).val(inpt.val());

});
}


if(behavior("1")){
    var sum=0;
  
    for(var i=0;i<=$(inputArray).index(inpt);i++){
        if(inputArray.eq(i).val()!== null){
            sum=sum+Number(inputArray.eq(i).val());
        }
    }
    $('div.yearylplans').html($('<span class="text-primary" style="margin-right:10px;">' + "=" + sum + '</span>'));
}
  if(behavior("2")){
       if (!nonSocialIncremental(inpt))
        return false;
    }
if(behavior("3")){
 if (!decremental(inpt))
        return false;

}


});
$(document).ready(function(){
function validateForm(){
    var haserror=true;
$("input:enabled:text").each(function(){
   if($(this).closest('div.form-group').hasClass('has-error'))
   {
      haserror=false;
    $(this).focus();
    return false;

   }
   return haserror;
  
});

return haserror;
}



$('#planform').submit(function(event){



 if(!validateForm()){
     event.preventDefault();
 return;
 }

$(this).submit();



})
})
</script>
