{% if suitableInitiatives is defined %}
	<div id="{{suitableInitiative.initiative.id}}" class="modal fade planmodal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">
						{{suitableInitiative.initiative.name|title}}
						Plan({{suitableInitiative.initiative.initiativeBehaviour|title}})</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" action="{{path('plan_phase_office')}}" method="post">
						<div class="row">
							<div class="col-sm-12">

								<input type="hidden" name="code" value="{{suitableInitiative.initiative.initiativeBehaviour.category.code}}">

								{% for plan in suitableInitiative.initiative.plans %}
									{% if plan.office.id == pricipaloffice.id  and plan.planningYear.id == planyear.id %}
										<div class="well well-sm">
											<strong>{{plan.quarter.slug}}
												Quarter</strong>
										</div>
										{% if suitableInitiative.initiative.initiativeBehaviour.category.code == "1" %}
											<div class="form-group">
												<input type="hidden" name="plan[]" value="{{plan.id}}">
												<input type="text" name="{{plan.quarter.slug}}" class="form-control" placeholder="expected value">
											</div>
										{% endif %}


										{% for attribute in suitableInitiative.initiative.initiativeBehaviour.category.initiativeAttributes %}

											{% if attribute.initiativeBehaviourCategory.code == "2" %}
												<div class="form-group">
													<input type="text" name="{{plan.quarter.slug}}" class="form-control" id="{{attribute.id}}" placeholder="expected value">
													<input type="hidden" name="plan[]" value="{{plan.id}}">
												</div>

												<div class="form-group">
													<label class="control-label" for="{{attribute.id}}">{{attribute.name|title}}</label>
													<input type="text" class="form-control" id="{{attribute.id}}" name="denimanitor" placeholder="denimanitor">
												</div>

											{% elseif attribute.initiativeBehaviourCategory.code =="3" %}
												<div class="form-group">
													<label class="control-label" for="{{attribute.id}}">{{attribute.name}}</label>
													<input type="text" class="form-control" id="{{attribute.id}}" placeholder="expected value">
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}

								{% endfor %}


							


				</div>


			</div>

		
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-info">sumbit</button>
        </form>
        		<button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Close</button>

	</div>
</div></div></div>
{% endif %}
