{% extends 'base.html.twig' %}

{% block subTitle %}
	<li class="active">{% trans %}SMIS{% endtrans %}</li>
	<li class="active">
		<a href="{{path('plan_achievement_kpi')}}">{% trans %}Kpi Achievement{% endtrans %}</a>
	</li>
{% endblock %}

{% block body %}
	<div class="well well-sm">
		<form action="" id="reloadform" class="form-inline" method="post">
			<input type="hidden" name="reload" value="true">
			<button class="btn btn-white btn-info btn-bold btn-lg" id="reloadbtn" data-target="#widget-container-col-1" data-action="reload">
				<i class="ace-icon fa fa-refresh bigger-120 blue"></i>
				<strong>Reload</strong>
			</button>


		</form>
		{# <a href="#" data-action="reload">
																															<i class="ace-icon fa fa-refresh"></i>
																														</a> #}

	</div>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="tabbable">
			<ul class="nav nav-tabs nav-justified  tab-color-blue" id="myTab">
				<li class="active">
					<a data-toggle="tab" href="#home" class="lead" aria-expanded="true">

						<strong>{% trans %}Tabular{% endtrans %}</strong>
					</a>
				</li>

				<li class="">
					<a data-toggle="tab" href="#messages" aria-expanded="false" class="lead">
						<strong>{% trans %}Visualization{% endtrans %}</strong>

					</a>
				</li>


			</ul>
			{# <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='{{asset('image/loading.gif')}}' width="64" height="64"/><br>Loading..</div> #}

			<div class="tab-content">
				<div id="home" class="tab-pane fade active in">
					<div class="row">
						<div class="col-sm-12 widget-container-col ui-sortable" id="widget-container-col-1">
							{# <div class="widget-box ui-sortable-handle" id="widget-box-1"> #}
							{# <div class="widget-header">
																																					<h5 class="widget-title">
																																						<strong>Initiative Achievement</strong>
																																					</h5>
																												
																																					<div class="widget-toolbar">
																												
																												
																																						<a href="#" id="reload" data-action="reload">
																																							<i class="ace-icon fa fa-refresh"></i>
																																						</a>
																												
																												
																																					</div>
																																				</div> #}

								<div class="widget-body"> <div class="widget-main">
									<div class="row">
										<div class="search-area well col-md-12">

											<div class="row">
												{{ form_start(filterform,{'attr': {'role':'form','class':' ' },'method':'GET'}) }}
												<div class="col-md-4">
													<div class="form-group form-group-sm">
														{{ form_label(filterform.goal,'Goal') }}
														{{ form_widget(filterform.goal,{'attr':{'class':'select2 form-control ','data-placeholder':'chose goal' }}) }}
													</div>
												</div>
												{# <div class="clearfix "></div> #}
												<div class="col-md-4">
													<div class="form-group">
														{{ form_label(filterform.perspective,'Perspective') }}
														{{ form_widget(filterform.perspective,{'attr':{'class':'select2 form-control','data-placeholder':'chose perspective' }}) }}
													</div>
												</div>

												<div class="col-md-4">
													<div class="form-group">
														{{ form_label(filterform.objective,'Objective') }}
														{{ form_widget(filterform.objective,{'attr':{'class':'select2 form-control','data-placeholder':'chose objective' }}) }}
													</div>
												</div>
												<div class="clearfix "></div>
												<div class="col-md-3">
													<div class="form-group">
														{{ form_label(filterform.strategy,'Strategy') }}
														{{ form_widget(filterform.strategy,{'attr':{'class':'select2 form-control','data-placeholder':'chose strategy' }}) }}
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														{{ form_label(filterform.year,'Year') }}
														{{ form_widget(filterform.year,{'attr':{'class':'select2 form-control','data-placeholder':'chose year' }}) }}
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-group" style="margin-top:25px;">
														<input type="submit" class="btn btn-primary btn-sm " value="{% trans %}Filter{% endtrans %}">
													</div>
												</div>


												{{ form_end(filterform) }}
											</div>


										</div>

									</div>
									<div class="table-responsive">
										<span class="badge badge-info pull-right">
											{% trans %}Total{% endtrans %}
											:
											<strong>{{ plan_achievements.getTotalItemCount()}}</strong>
										</span>
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>

													<th rowspan="2">#</th>

													<th rowspan="2">Kpi</th>
													<th rowspan="2">Objective</th>
													<th rowspan="2">Goal</th>
													{# <th rowspan="2">{% trans %}behavior{% endtrans %}</th> #}

													<th rowspan="2">Year</th>
													<th colspan="2">yearly</th>
													<th colspan="2">1st Quarter</th>
													<th colspan="2">2nd Quarter</th>
													<th colspan="2">3rd Quarter</th>
													<th colspan="2">4th  Quarter</th>


												</tr>

												<tr>


													<th>plan</th>
													<th>Accomp.</th>
													<th>plan</th>
													<th>Accomp.</th>
													<th>plan</th>
													<th>Accomp.</th>
													<th>plan</th>
													<th>Accomp.</th>
													<th>plan</th>
													<th>Accomp.</th>


												</tr>
											</thead>
											<tbody>
												{% set count =  plan_achievements.getItemNumberPerPage() * (plan_achievements.getCurrentPageNumber() -1) %}
												{% for plan_achievement in plan_achievements %}

													{% set count = count+1 %}
													<tr>
														<td>{{count}}
														</td>


														<td>{{plan_achievement.kpi}}</td>
														<td>{{plan_achievement.kpi.strategy.objective}}</td>
														<td>{{plan_achievement.kpi.strategy.objective.goal}}</td>
														{# <td>{{plan_achievement.initiative.initiativeBehaviour}}</td> #}

														<td>{{plan_achievement.year}}</td>
														<td></td>
														<td></td>
														{% for quarterplan in plan_achievement.quarterAchievement %}
															<td>{{quarterplan.plan }}</td>
															<td>{{quarterplan.accomp?quarterplan.accomp:"_" }}</td>
														{% endfor %}


													</tr>


												{% endfor %}


											</tbody>
										</table>
										<div class="pull-right" style="" id="custompaginator">{{ knp_pagination_render(plan_achievements) }}</div>
									</div>
								</div>
								{# </div> #}
							</div>
						</div>
					</div>
				</div>

				<div id="messages" class="tab-pane fade">
					<div class="well">
						<form method="get" id="visform" action="{{path('plan_achievement_kpi_vis')}}" class="form-inline">
							<div class="form-group form-group-lg">
								<select name="kpi" id="" class="select2 form-control">

									{% for kpi in kpis %}
										<option value="{{kpi.id}}">{{kpi}}</option>
									{% endfor %}
								</select>
							</div>

							<button type="submit" id="visbutton" class="btn btn-primary btn-xs">{% trans %}Filter{% endtrans %}</button>
						</form>
					</div>
					<div id="chartdiv">
						<canvas id="myChart" width="400" height="400"></canvas>
					</div>

				</div>


			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/assets/js/jquery-ui.custom.min.js')}}"></script>
	<script src="{{asset('chart.js-3.3.2/package/dist/chart.min.js')}}"></script>
	<script>
		$(function () {
$('#reloadbtn').click(function () {
$('#reload').trigger('click');

})
$('#visform').submit(function (event) {
event.preventDefault();
var $form = $(this);
$.ajax({
type: 'GET',
url: $form.attr('action'),
data: $form.serialize(),
success: function (data) {
$('#chartdiv').html(data);
},
error: function (error) {}
});

})


})
	</script>
{% endblock %}
