{% extends 'base.html.twig' %}

{% block subTitle %}
	<li class="active">{% trans %}SMIS{% endtrans %}</li>
	<li class="active">
		<a href="{{path('plan_achievement_objective')}}">{% trans %}Objective Achievement{% endtrans %}</a>
	</li>
{% endblock %}
{% block stylesheet %}
	<style>
		.label {
			margin-left: 15px;
			font-family: 'Source Sans Pro', sans-serif;
			color: #666666;
			font-size: 14px;
		}
		.legendValue {
			float: left;
			height: 25px;
		}
		.clear {
			clear: both;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="well well-sm">
		<form action="" id="reloadform" class="form-inline" method="post">
			<input type="hidden" name="reload" value="true">
			<button class="btn btn-white btn-info btn-bold btn-lg" id="reloadbtn" data-target="#widget-container-col-1" data-action="reload">
				<i class="ace-icon fa fa-refresh bigger-120 blue"></i>
				<strong>Reload</strong>
			</button>


		</form>
		{# <a href="#" data-action="reload">
																															<i class="ace-icon fa fa-refresh"></i>
																														</a> #}

	</div>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="tabbable">
			<ul class="nav nav-tabs nav-justified  tab-color-blue" id="myTab">
				<li class="active">
					<a data-toggle="tab" href="#home" class="lead" aria-expanded="true">

						<strong>{% trans %}Tabular{% endtrans %}</strong>
					</a>
				</li>

				<li class="">
					<a data-toggle="tab" href="#messages" aria-expanded="false" class="lead">
						<strong>{% trans %}Visualization{% endtrans %}</strong>

					</a>
				</li>


			</ul>
			{# <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='{{asset('image/loading.gif')}}' width="64" height="64"/><br>Loading..</div> #}

			<div class="tab-content">
				<div id="home" class="tab-pane fade active in">
					<div class="row">
						<div class="col-sm-12 widget-container-col ui-sortable" id="widget-container-col-1">
							{# <div class="widget-box ui-sortable-handle" id="widget-box-1"> #}
							{# <div class="widget-header">
																																					<h5 class="widget-title">
																																						<strong>Initiative Achievement</strong>
																																					</h5>
																												
																																					<div class="widget-toolbar">
																												
																												
																																						<a href="#" id="reload" data-action="reload">
																																							<i class="ace-icon fa fa-refresh"></i>
																																						</a>
																												
																												
																																					</div>
																																				</div> #}

								<div class="widget-body"> <div class="widget-main">
									<div class="table-responsive">
										<span class="badge badge-info pull-right">
											{% trans %}Total{% endtrans %}
											:
											<strong>{{ plan_achievements.getTotalItemCount()}}</strong>
										</span>
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th rowspan="2" style="text-align:left;background-color:#778899;color: white;">#</th>

													<th rowspan="2" class="center" style="text-align:left;background-color:#778899;color: white;">{% trans %}Objective{% endtrans %}</th>

													<th rowspan="2" style="text-align:left;background-color:#778899;color: white;">{% trans %}Wieght{% endtrans %}</th>
													<th colspan="7" class="center" style="text-align:left;background-color:#778899;color: white;">{% trans %}Achievement{% endtrans %}</th>

												</tr>
												<tr>

													<th style="text-align:left;background-color:#808080;color: white;">Year</th>
													<th style="text-align:left;background-color:#808080;color: white;">Year Total</th>

													<th style="text-align:left;background-color:#808080;color: white;">Quarter 1</th>
													<th style="text-align:left;background-color:#808080;color: white;">Quarter 2</th>
													<th style="text-align:left;background-color:#808080;color: white;">Quarter 3</th>
													<th style="text-align:left;background-color:#808080;color: white;">Quarter 4</th>
												</tr>
											</thead>
											<tbody>
												{% set count =  plan_achievements.getItemNumberPerPage() * (plan_achievements.getCurrentPageNumber() -1) %}
												{% for plan_achievement in plan_achievements %}
													{% set count = count +1 %}
													{% set total = plan_achievement.planAchievements|length + 1 %}
													<tr>
														<td rowspan="{{total}}" style="vertical-align:middle;">{{ count }}</td>
														<td rowspan="{{total}}" style="vertical-align:middle;">{{ plan_achievement.name }}</td>
														<td rowspan="{{total}}" style="vertical-align:middle;">{{ plan_achievement.weight }}</td>
													</tr>
													{% for achievement in plan_achievement.planAchievements %}

														<tr>
															<td>{{ achievement.year}}</td>
															<td>{{ achievement.accomplishmentValue??"0"}}</td>
															{% for quartAccomp in achievement.quarterAccomplishments %}

																<td>{{ quartAccomp.achievementValue??"0" }}</td>
															{% endfor %}
														</tr>
													{% endfor %}

												</tr>
											{% else %}
												<tr>
													<td colspan="3">no records found</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									<div class="pull-right" style="" id="custompaginator">{{ knp_pagination_render(plan_achievements) }}</div>
								</div>
							</div>
							{# </div> #}
						</div>
					</div>
				</div>


				<div id="messages">
					<canvas id="myChart" width="400" height="400"></canvas>
					{# <div id="legend"></div> #}
				</div>
			</div>


		</div>
	</div>
{% endblock %}{% block javascripts %}
<script src="{{asset('assets/assets/js/jquery-ui.custom.min.js')}}"></script>
<script src="{{asset('chart.js-3.3.2/package/dist/chart.min.js')}}"></script>
<script>
	$(function () {
$('#reloadbtn').click(function () {
$('#reload').trigger('click');
// $('#reloadform').submit();
})
function getRandomColor() {
var letters = '0123456789ABCDEF';
var color = '#';
for (var i = 0; i < 6; i++) {
color += letters[Math.floor(Math.random() * 16)];
}
return color;
}
var bgcolor = [];
var fillColor = [];{% for objective in data.objective %}bgcolor.push(getRandomColor());
fillColor.push(getRandomColor());{% endfor %}var ctx = document.getElementById("myChart").getContext('2d');


var dat = {
labels: [{{ data.year|join(',') }}],
datasets: [{% for objective in data.objective %}{

label: "{{ objective.name }}",
fillColor: fillColor[{{ loop.index }}],
strokeColor: fillColor[{{ loop.index }}],
highlightFill: fillColor[{{ loop.index }}],
highlightStroke: fillColor[{{ loop.index }}],
data: [{{ objective.achieve|join(',') }}],
backgroundColor: [{% for i in range(1,objective.achieve|length) %}bgcolor[{{ loop.parent.loop.index }}],{% endfor %}],
borderColor: [{% for i in range(1,objective.achieve|length) %}fillColor[{{ loop.parent.loop.index }}],{% endfor %}],
borderWidth: 1
}
{% if loop.last != true %},{% endif %}{% endfor %}]
};


var myChart = new Chart(ctx, {
type: 'bar',
barShowStroke: false,
data: dat,
options: {
responsive: true, // Instruct chart js to respond nicely.
maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
legend: {
display: false,
position: 'top'

},
plugins: {

title: {
display: true,
text: 'jimma University Objective Accomplishment'
}
},
legendCallback: function (chart) {
var text = [];
text.push('<ul class=">' + chart.id + '-legend">');
for (var i = 0; i < chart.data.datasets.length; i++) {
text.push('<li><div class="legendValue"><span style="background-color:' + chart.data.datasets[i].backgroundColor + '">&nbsp;&nbsp;&nbsp;&nbsp;</span>');
if (chart.data.datasets[i].label) {
text.push('<span class="label">' + chart.data, datasets[i].label + '</span>');

}
text.push('</div></li><div class="clear"></div>');
}
text.push('</ul>');
return text.join('');
},
scales: {
yAxes: [
{
display: true,
tricks: {
beginAtZero: true
},
gridlines: {
color: "rgba(0,0,0,0)"
}

}
],
xAxes: [
{
display: false,
gridlines: {
color: "rgba(0,0,0,0)"
},
barPercentage: 0.5,
categoryPercentage: 0.5
}
]
},
scaleFontSize: 16,
showTooltips: false,
scaleGridLineColor: "rgba(0,0,0,.05)",
scaleGridLineWidth: 1


}
});
$('#legend').prepend(myChart.generatelegend());
})
</script>{% endblock %}
