{% extends 'base.html.twig' %}

{% block title %}Initiative index{% endblock %}

{% block body %}
    <h1>Initiative index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>MaximumValue</th>
                <th>MinimumValue</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for initiative in initiatives %}
            <tr>
                <td>{{ initiative.id }}</td>
                <td>{{ initiative.name }}</td>
                <td>{{ initiative.description }}</td>
                <td>{{ initiative.maximumValue }}</td>
                <td>{{ initiative.minimumValue }}</td>
                <td>{{ initiative.createdAt ? initiative.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('initiative_show', {'id': initiative.id}) }}">show</a>
                    <a href="{{ path('initiative_edit', {'id': initiative.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('initiative_new') }}">Create new</a>
{% endblock %}
