<!DOCTYPE html>
<!-- saved from url=(0069)https://www.100forms.com/sources/ready-forms/student-evaluation-form/ -->
<html lang="en">
	<head>
		<style>
				table {

				border-collapse: collapse;
				width: 100%;
			}

			td,
			tr,
			th {
				border: 1px solid #000;
				text-align: left;
				padding-left: 15px;
				font-size: 11px;

			}
		</style>

	</head>


	<body borde="0">
		<center><img class="img-responsive" height="80" width="100" src="{{ absolute_url(asset('assets/favicon.png')) }}"/></center>


		<center>
			<h2>
				Jimma University Initiatives
			</h2>
		</center>
		{# <table border="0px">
											<tr>
												<td>
													<h4>College/Institute/Directorate</h4>
													<h>Evaluation Period     Year
														<u>2013</u>
														Period From
														<u>01/01/2013
														</u>
														To
														<u>
															03/30/2013
														</u>
														months</h5>
													<h5>Evaluater Name:
														<u>{{fullName}}</u>
													</h5>
													<h5>Evaluatee Id</h5>
								
												</td>
											</tr>
								
											
										</table><br> #}
                                        Total({{initiatives|length}})
		<table class="table " style="margin-top:10px;">
			<thead>
				<tr>
					<th>#</th>
					<th>{% trans %}Initiative{% endtrans %}</th>
										<th>KPI</th>
										<th>Objective</th>
										<th>Goal</th>
					<th>{% trans %}Initiative Behaviour{% endtrans %}</th>
					<th>{% trans %}Initiative Category{% endtrans %}</th>


					{# <th>MinValue</th> #}
					{# <th>MaxValue</th> #}
					
					{# <th>Objective</th> #}
					<th>{% trans %}Social{% endtrans %}</th>
					<th>
						{% trans %}Principal Office{% endtrans %}
					</th>
					<th>{% trans %}Weight{% endtrans %}</th>
					<th>
						{% trans %}Status{% endtrans %}
					</th>

					<th>Description</th>

				</tr>
			</thead>
			<tbody>
				{% set count =  0 %}
				{% for initiative in initiatives %}
					{% set count = count + 1 %}
					<tr>
						<td>
							{{ count }}
						</td>
						<td>
							{{ initiative }}
						</td>
						<td>
							{{ initiative.keyPerformanceIndicator|title }}
						</td>
						<td>
							{{ initiative.keyPerformanceIndicator.strategy.objective|title }}
						</td>
						<td>
							{{ initiative.keyPerformanceIndicator.strategy.objective.goal|title }}
						</td>
						<td>
							{{initiative.initiativeBehaviour }}
						</td>
						{# <td>{{ initiative.initiativeBehaviour.code }}</td> #}
						<td>{{ initiative.category }}</td>
						

						<td>
							{% for item in initiative.socialAtrribute  %}
								{{ item }}
							{% endfor %}
						</td>
						{# <td>{{ initiative.keyPerformanceIndicator.strategy.objective }}</td> #}
						{# <td>{{ initiative.keyPerformanceIndicator.strategy.objective.goal }}</td> #}
						<td>
							{% set count = 0 %}
							<ul class="list-unstyled">
								{% for office in initiative.principalOffice %}


									<li>
										{% set count = count + 1 %}
										{{count}},
										{{office}}
									</li>
								{% endfor %}

							</ul>

						</td>
						<td>{{initiative.weight}}</td>
						<td>
							{% if initiative.isActive %}
								<span class="badge badge-success" style="color:green;">Active</span>
							{% else %}
								<span class="badge badge-danger">Deactived</span>
							{% endif %}
						</td>
						<td>{{ initiative.description|raw }}</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</body>
</html>
