{% extends 'base.html.twig' %}

{% block title %}Initiative{% endblock %}

{% block body %}
    <h1>Initiative</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ initiative.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ initiative.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ initiative.description }}</td>
            </tr>
            <tr>
                <th>MaximumValue</th>
                <td>{{ initiative.maximumValue }}</td>
            </tr>
            <tr>
                <th>MinimumValue</th>
                <td>{{ initiative.minimumValue }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ initiative.createdAt ? initiative.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('initiative_index') }}">back to list</a>

    <a href="{{ path('initiative_edit', {'id': initiative.id}) }}">edit</a>

    {{ include('initiative/_delete_form.html.twig') }}
{% endblock %}
