<!DOCTYPE html>
<!-- saved from url=(0069)https://www.100forms.com/sources/ready-forms/student-evaluation-form/ -->
<html lang="en">
	<head>
		<style>

			.page_break {
				page-break-before: always;
			}
			.page_break:last-child {
				page-break-after: avoid;
			}
			#footer {
				position: fixed;
				right: 0;
				bottom: 10px;
				text-align: center;
				border-top: 1px solid black;
			}
			#footer-right {
				position: fixed;
				right: 0;
				bottom: 10px;
				text-align: right;
				font-size: 10px;
				border-top: 1px solid black;
			}
			#footer-left {
				position: fixed;
				right: 0;
				bottom: 10px;
				text-align: left;
				font-size: 10px;
				border-top: 1px solid black;
			}
			#footer .page:after {
				content: counter(page, decimal);
			}
			@page {
				margin: 20px 30px 40px 50px;
			}
			.amharic1 {
				font-family: amharic !important;
			}
			.amharic2 {
				font-family: amharic2 !important;
			}
			.in {
				margin-left: 800px;
				margin-top: 5px;
			}
			.in2 {
				margin-left: 320px;
				margin-top: 5px;
			}
			.footer {
				position: fixed;
				left: 0;
				bottom: 15;
				width: 100%;
				color: black;
				text-align: center;
			}

			table {

				border-collapse: collapse;
				width: 100%;
			}

			td,
			tr,
			th {
				border: 1px solid #000;
				text-align: left;
				padding-left: 15px;
				font-size: 16px;

			}

			.sign {
				float: right;
				height: 100px;
				position: absolute;
				right: 0;
				bottom: 30;
			}
			.sign2 {
				float: right;
				height: 100px;
				position: absolute;
				right: 0;
				bottom: 10;
			}
			.mt {
				margin-top: 45px;
			}
			.sty {
				list-style-type: none;
			}
		</style>

	</head>


	<body borde="0">
		<center><img class="img-responsive" height="60" width="80" src="{{ absolute_url(asset('assets/favicon.png')) }}"/></center>


		<center>
			<h2>Task Assign Form
			</h2>
		</center>

		<h4>College/Institute/Directorate:<u>{{principalOffice}}</u>
		</h4>

		<h4>OperationalOffice/Department/Team:<u>{{operationalOffice}}</u>
			<h4>Year:<u>{{currentYear}}</u>
				Quarter:<u>{{quarter}}</u>
			</h4>
			<h4>Performer Name 
				<u>
					{{fullName}}
				</u>
			</h4>


			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>{% trans %}Name Of Task{% endtrans %}</th>
						<th>{% trans %}Start Date{% endtrans %}</th>
						<th>{% trans %}End Date{% endtrans %}</th>
						<th>{% trans %}Time Gap{% endtrans %}</th>
						<th>{% trans %}Quantity{% endtrans %}</th>
						<th>{% trans %}Reportd Quantity{% endtrans %}</th>


					</tr>
				</thead>
				<tbody>
					{% set count = 0 %}
					{% for taskUser in taskUsers %}
						<tr>
							{% set count = count + 1 %}
							<td>{{count}}</td>
							<td>{{ taskUser.taskAssign.performerTask.name}}</td>
							<td>{{ taskUser.taskAssign.startDate }}</td>
							<td>{{ taskUser.taskAssign.endDate }}</td>
							<td>{{ taskUser.taskAssign.timeGap }}</td>
							<td>{{ taskUser.taskAssign.expectedValue }}</td>
							<td>________</td>


						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<h4>Name Of Operational Manager
				<u>
					{{operationalManager}}
				</u>
			</h4>
			<h5>Signiture
				<u>________</u>
			</h5>
		</body>
	</body>
</html>
