{% extends 'base.html.twig' %}
{% block title %}user index
{% endblock %}
{% block maintitle %}
	User List
{% endblock %}
{% block breadcrumb %}User List
{% endblock %}
{% block body %}
	<div
		class="row">
		<!-- [ sample-page ] start -->
		<div class="col-sm-12">
			<div class="card">

				<div class="card-header">
					<h5>User List index</h5>


				</div>
				<div class="card-body">

					<table id="example" class="table table-striped table-bordered" style="width:100%">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Email</th>
								<th>Action</th>


							</tr>
						</thead>
						<tbody>
							{% set count = 0 %}


							{% for user in users %}
								<tr>
									{% set count = count + 1 %}

									<td>{{count}}</td>
									<td>{{ user.fullName }}</td>
									<td>{{ user.email }}</td>

									<td>
										{% if user.serverTeam != 1 %}

											<form class="d-inline" method="post" action="{{ path('server_team', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to Add this user to server team ?');">

												<button class="btn btn-sm btn-outline-success" name="userid" value="{{ user.id}}" title="ServerTeam">
													Add</button>
											</form>
										{% else %}

											<form class="d-inline" method="post" action="{{ path('server_team', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to Remove this user to server team ?');">
												<input type="hidden" name="out" value="out">
												<button class="btn btn-sm btn-outline-danger" name="userid" value="{{ user.id}}" title="Remove from server team">
													Remove</button>
											</form>
										{% endif %}
									</td>


								</tr>
							{% else %}
								<tr>
									<td colspan="7">no records found</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>
					<div class="float-right" id="custompaginator">{{ knp_pagination_render(users) }}</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script>
	$(document).ready(function() {
    $('#example').DataTable();
} );</script>
{% endblock %}
