<!DOCTYPE html>
<html lang="en" lang="am">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="utf-8">
		<meta name="description" content="overview &amp; stats"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
		<link rel='shortcut icon' type='image/x-icon' href="{{asset('images/favicon.ico')}}"/>


		<link rel='shortcut icon' type='image/x-icon' href='{{asset("image/logo.png")}}'/>
		<title>

			{% block application_title %}
				{% trans %}SMIS{% endtrans %}
			{% endblock %}
		</title>

		<meta name="description" content="Mailbox with some customizations as described in docs"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>


		<link rel="stylesheet" href="{{ asset('assets/assets/css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/assets/font-awesome/4.5.0/css/font-awesome.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/assets/css/jquery-ui.custom.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/assets/css/bootstrap-duallistbox.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/assets/css/bootstrap-multiselect.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/assets/css/select2.min.css') }}"/>

		<link
		rel="stylesheet" href="{{ asset('assets/assets/css/fonts.googleapis.com.css') }}"/>
		<!-- ace styles -->
		<link rel="stylesheet" href="{{ asset('assets/assets/css/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style"/>


		<link rel="stylesheet" href="{{ asset('assets/assets/css/ace-skins.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/assets/css/ace-rtl.min.css') }}"/>
		<script src="{{ asset('assets/assets/js/ace-extra.min.js') }}"></script>


		{% block stylesheet %}{% endblock %}

	</head>

	<body style='font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; color: black' class="no-skin">


		{% block navbar %}
			<div id="navbar" class="navbar navbar-default ace-save-state">
				{% block navbar_container %}
					<div class="navbar-container ace-save-state" id="navbar-container">
						<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
							<span class="sr-only">Toggle sidebar</span>

							<span class="icon-bar"></span>

							<span class="icon-bar"></span>

							<span class="icon-bar"></span>
						</button>

						<div class="navbar-header pull-left">
							<a href="#" class="navbar-brand">
								<small>
									<i class="fa fa-cog"></i>
									{% block application_simple_title %}
										<strong>
											{% trans %}Strategic Management Information System{% endtrans %}</strong>
									{% endblock %}
									{% block application %}{% endblock %}
								</small>
							</a>
						</div>
						{% block navbar_right %}
							<div class="navbar-buttons navbar-header pull-right" role="navigation">
								{% block nav_list %}

									{# <form class="" id="language" id="language" {% if app.user %} action="#" {% else %} action="{{ path('change_locale')}}" {% endif %}>
																																																																																																																																																																																																																																																																																																																											
																																																																																																																																																																																																																																																																																																																																																		<div class="input-group input-group-sm">
																																																																																																																																																																																																																																																																																																																																																			<select name="lang" id="lang" class="form-control ">
																																																																																																																																																																																																																																																																																																																																													
																																																																																																																																																																																																																																																																																																																																																				<option value="en" {% if app.request.getLocale() == 'en' %} selected {% endif %}>English</option>
																																																																																																																																																																																																																																																																																																																																																				<option value="am" {% if app.request.getLocale() == 'am' %} selected {% endif %}>አማርኛ</option>
																																																																																																																																																																																																																																																																																																																																																				<option value="or" {% if app.request.getLocale() == 'or' %} selected {% endif %}>Afaan Oromo</option>
																																																																																																																																																																																																																																																																																																																																																			</select>
																																																																																																																																																																																																																																																																																																																																													
																																																																																																																																																																																																																																																																																																																																																		</div>
																																																																																																																																																																																																																																																																																																																																																	</form> #}


									<ul
										class="nav ace-nav">
										{# {% if app.user.status == 0 %}
																																																																																																																																																																																																																																																																															<li>
																																																																																																																																																																																																																																																																																<h4 class="text-danger">Please Choose your office</h4>
																																																																																																																																																																																																																																																																															</li>
																																																																																																																																																																																																																																																																														{% endif %} #}
										{% if is_granted('IS_PPO_DIRECTOR') %}
											<li></li>
										{% endif %}

										<li>
											<div class="dropdown">

												<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{% trans %}Switch Language{% endtrans %}
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li>
														<a href="{{path('change_locale',{'locale':'am'})}}">{% trans %}Amharic{% endtrans %}</a>
													</li>
													<li>
														<a href="{{path('change_locale',{'locale':'en'})}}">{% trans %}English{% endtrans %}</a>
													</li>
													<li>
														<a href="{{path('change_locale',{'locale':'or'})}}">{% trans %}Afaan Oromo{% endtrans %}</a>
													</li>
												</ul>
											</div>

										</li>

										<li>
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ColorHelpModal">
												<span class="glyphicon glyphicon-question-sign"></button>
											</li>


										</li>
										<li class="green dropdown-modal">
											{% set locale = app.request.locale %}

											{# <a
												data-toggle="dropdown" class="dropdown-toggle" href="#"> #}
												{# <i class="ace-icon fa fa-envelope icon-animated-vertical"></i> #}

												<a href="{{ asset('assets/assets/images/strategic'~ locale ~'.png')}}" class="btn btn-sm btn-success pull-right" width="1300" target="_blank" height="600">
													{% trans %}
													View Strategic Map{% endtrans %}
                                                    </a>
												{# <span class="badge badge-success"></span> #}
											{# </a> #}

											<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
												<li class="dropdown-header">
													<i class="ace-icon fa fa-envelope-o"></i>


												</li>

												<li class="dropdown-content">
													<ul class="dropdown-menu dropdown-navbar">

														<li>
															{% set sessionUnreadMails = app.session.get('sessionUnreadMails') %}
															{% for sessionUnreadMail in sessionUnreadMails %}
																<a href="#" class="clearfix">
																	<img src="{{ asset('assets/assets/images/avatars/avatar.png') }}" class="msg-photo" alt="Alex's Avatar"/>
																	<span class="msg-body">
																		<span class="msg-title">
																			<span class="blue">{{ sessionUnreadMail.sender }}
																				{{ sessionUnreadMail.mailsubject }}</span>
																		</span>
																		<span class="msg-time">
																			<i class="ace-icon fa fa-clock-o"></i>

																		</span>
																	</span>
																</a>
															{% endfor %}
														</li>

													</ul>
												</li>

												<li class="dropdown-footer">
													<a href="javascript:return false">

														<i class="ace-icon fa fa-arrow-right"></i>
													</a>
												</li>
											</ul>

										</li>

										<li class="light-blue dropdown-modal">
											<a data-toggle="dropdown" href="#" class="dropdown-toggle">
												<img class="nav-user-photo" src="{{ asset('assets/assets/images/avatars/avatar2.png') }}" alt="Jason's Photo"/>
												<span class="user-info">
													{% if app.user %}
														<small>
															{{ app.user.userInfo.fullName }}</small>
													{% endif %}
												</span>
												<i class="ace-icon fa fa-caret-down"></i>
											</a>

											<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">


												<li>
													{# <a href="{{ path('fos_user_security_logout') }}"> #}

													<a href="{{ path('app_logout') }}">
														<i class="ace-icon fa fa-power-off"></i>
														{% trans %}Logout{% endtrans %}
													</a>
												</li>


											</ul>
										</li>
									</ul>
								{% endblock %}
							</div>
						{% endblock %}
					</div>
					<!-- /.navbar-container -->
				{% endblock %}

			</div>

		{% endblock %}


		<div class="modal fade" id="ColorHelpModal" role="dialog">
			<div
				class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Color Meaning and Representation</h4>
					</div>
					<div class="modal-body">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">Auto Generated Plan Record</div>
							</div>

							<div class="panel panel-primary">
								<div class="panel-heading">
									Over Accomplishment Report(>100%)
								</div>
							</div>

							<div class="panel panel-success">
								<div class="panel-heading">100% Plan Accoplishment Result(=100%)</div>
							</div>

							<div class="panel panel-info">
								<div class="panel-heading">Plan Accoplishment Result(>75% and <100%)</div>
							</div>

							<div class="panel panel-warning">
								<div class="panel-heading">Plan Accoplishment Result(<75%)</div>
							</div>

							<div class="panel panel-danger">
								<div class="panel-heading">Plan Accoplishment Result(<50%)</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>


		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try {
ace.settings.loadState('main-container')
} catch (e) {}
			</script>
			{% block sidebar %}

				<div id="sidebar" class="sidebar responsive ace-save-state">
					<script type="text/javascript">
						try {
ace.settings.loadState('sidebar')
} catch (e) {}
					</script>


					<ul class="nav nav-list" role="tree">


						{% block tobologyMenu %}


							<li class="toplist" role="treeitem">
								<a href="#" class="dropdown-toggle ">
									<i class=""></i>
									<span class="menu-text">

										{% trans %}EMIS{% endtrans %}
									</span>
									<b class="arrow fa fa-angle-down"></b>
								</a>
								<ul class="submenu" role="treeitem">


									{{ include('menu/emis.html.twig') }}

								</ul>
							</li>
							<li class="toplist" role="treeitem">
								<a class="dropdown-toggle" href="#">
									<i class=""></i>
									<span class="menu-text">

										{% trans %}SMIS{% endtrans %}
									</span>
									<b class="arrow fa fa-angle-down"></b>
								</a>
								<b class="arrow"></b>


								<ul class="submenu" role="treeitem">


									<li class="">
										<a href="{{path('plan_achievement_index')}}">
											<b class="fa fa-caret-right"></b>
											{% trans %}
											Dashboard
											{% endtrans %}
										</a>
									</li>
									{# <li role="treeitem">
										<a href="{{path('startegic_plan')}}">
											<b class="fa fa-caret-right"></b>
											{% trans %}
											Strategic Map
											{% endtrans %}
										</a>
									</li> #}
									<li class="">
										<a href="{{ path('choose_office') }}">
											<b class="fa fa-caret-right"></b>
											{% trans %}choose Office{% endtrans %}
										</a>
									</li>

									{% if is_granted('vw_per') %}
										<li role="treeitem">
											<a href="{{path('perspective_index')}}">
												<b class="fa fa-caret-right"></b>
												{% trans %}
												Perspective
												{% endtrans %}
											</a>
										</li>


									{% endif %}


									{% if is_granted('vw_gol') %}


										<li>
											<a href="{{ path('goal_index') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}Goal
												{% endtrans %}
											</a>
										</li>
									{% endif %}
									{% if is_granted('vw_objt') %}

										<li>
											<a href="{{ path('objective_index') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}
												Objective
												{% endtrans %}
											</a>
										</li>
									{% endif %}


									{% if is_granted('vw_str') %}
										<li>
											<a href="{{ path('strategy_index') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}Strategy{% endtrans %}
											</a>
										</li>
									{% endif %}

									{% if is_granted('vw_kpi') %}
										<li>
											<a href="{{ path('key_performance_indicator_index') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}
												Key Performance Indicator
												{% endtrans %}
											</a>
										</li>
									{% endif %}
									{% if is_granted('vw_intv') %}


										<li role="treeitem">
											<a href="{{ path('initiative_index') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}Initiative{% endtrans %}
											</a>
										</li>
									{% endif %}
									{% if is_granted('vw_suit_intv') %}
										<li role="treeitem">
											<a href="{{ path('suitable_initiative_index') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}suitable Initiative{% endtrans %}
											</a>
										</li>
									{% endif %}


									{{ include('menu/sidenav.html.twig') }}


								</ul>

							</li>


							{{ include('menu/office.html.twig') }}

							{% if is_granted("vw_usr_lst") or  is_granted("vw_usr_grp")  %}

								<li class="toplist">
									<a href="#" class="dropdown-toggle ">
										<i class=""></i>
										<span class="menu-text">

											{% trans %}User Management{% endtrans %}
										</span>
										<b class="arrow fa fa-angle-down"></b>
									</a>
									<ul class="submenu">


										{{ include('menu/user.html.twig') }}

									</ul>
								</li>
							{% endif %}
                            {% if is_granted('vw_usr_lst') %}
								<li class="toplist">
									<a href="#" class="dropdown-toggle ">
										<i class=""></i>
										<span class="menu-text">

											{% trans %}Sms{% endtrans %}
										</span>
										<b class="arrow fa fa-angle-down"></b>
									</a>
									<ul class="submenu">
										<li>
											<a href="{{ path('sms_index') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}
												Send Sms
												{% endtrans %}
											</a>
										</li>
                                        	<li>
											<a href="{{ path('sms_index') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}
												LIst Sms
												{% endtrans %}
											</a>
										</li>



									</ul>
								</li>
							{% endif %}
							{# {% if is_granted("del_man") %} #}
							<li>
								<a href="#" class="dropdown-toggle ">
									<i class=""></i>
									<span class="menu-text">

										{% trans %}Delegation{% endtrans %}
									</span>
									<b class="arrow fa fa-angle-down"></b>
								</a>
								<ul class="submenu">


									{{ include('menu/delegation.html.twig') }}

								</ul>
							</li>
							{# {% endif %} #}
							{% if is_granted('perf_op_eval') %}
								<li class="toplist">
									<a href="#" class="dropdown-toggle ">
										<i class=""></i>
										<span class="menu-text">

											{% trans %}Evaluation{% endtrans %}
										</span>
										<b class="arrow fa fa-angle-down"></b>
									</a>
									<ul class="submenu">
										<li>
											<a href="{{ path('evaluation') }}">
												<b class="fa fa-caret-right"></b>
												{% trans %}
												Evaluate
												{% endtrans %}
											</a>
										</li>


									</ul>
								</li>
							{% endif %}
							{% if is_granted("feed_back") %}
								<li>

									<a href="#" class="dropdown-toggle ">
										<i class=""></i>
										<span class="menu-text">


											{% trans %}FeedBack{% endtrans %}

										</span>
										<b class="arrow fa fa-angle-down"></b>
									</a>
									<ul class="submenu">


										{{ include('menu/feedback.html.twig') }}


									</ul>
								</li>
							{% endif %}


						</ul>


					{% endblock %}

				</div>

			{% endblock %}


			<div class="main-content">
				<div class="main-content-inner">
					<div class="nav"> {% block subMenu %}{% endblock %}
						</div>

						<div class="breadcrumbs ace-save-state" id="breadcrumbs">
							<ul class="breadcrumb">
								{% block mainTitle %}
									<li>
										<i class="icon-home home-icon"></i>
										<a href="">{% trans %}MIS{% endtrans %}</a>

										<span class="divider">
											<i class="arrow-icon"></i>
										</span>
									</li>
								{% endblock %}
								{% block subTitle %}
									<li class="active">{% trans %}Dashboard{% endtrans %}</li>

								{% endblock %}
								{% if app.user.status == 0 %}
									<div class="badge badge-danger">
										please choose your office
									</div>
								{% endif %}

								{% for item in app.user.principalManagers|filter(pr=> pr.isActive == 1) %}
									<div class="badge badge-success">
										{{item.principalOffice.name}}
									</div>
								{% endfor %}
								{% for item in app.user.operationalManagers|filter(pr=> pr.isActive == 1) %}
									<div class="badge badge-primary">
										{{item.operationalOffice.name}}
									</div>
								{% endfor %}
								{% for item in app.user.performers|filter(pr => pr.isActive == true) %}
									<div class="badge badge-danger">
										{{item.operationalOffice.name}}
									</div>
								{% endfor %}


							</ul>
							{% set locale = app.request.locale %}

							{% block search %}{% endblock %}
						</div>
						<div style="text-align: center"> {% block title %}{% endblock %}
							</div>

							<div class="nav"> {% block progresIndicator %}{% endblock %}
								</div>
								<div class="page-header"> {% block header %}{% endblock %}
									</div>
									<div class="page-content">

										{% for message in app.flashes('notice') %}
											<div class="alert alert-info">
												<button type="button" class="close" data-dismiss="alert">
													<i class="ace-icon fa fa-times"></i>
												</button>

												{{ message }}
												<br>
											</div>

										{% endfor %}

										{% for message in app.flashes('success') %}
											<div class="alert alert-success">
												<button type="button" class="close" data-dismiss="alert">
													<i class="ace-icon fa fa-times"></i>
												</button>

												<strong>{{ message }}</strong>
												<br>
											</div>

										{% endfor %}
										{% for message in app.flashes('danger') %}
											<div class="alert alert-danger">
												<button type="button" class="close" data-dismiss="alert">
													<i class="ace-icon fa fa-times"></i>
												</button>

												<strong>{{ message }}</strong>
												<br>
											</div>

										{% endfor %}

										{% for message in app.flashes('success') %}
											<div class="alert alert-block alert-success">
												<button type="button" class="close" data-dismiss="alert">
													<i class="ace-icon fa fa-times"></i>
												</button>
												<div class="well well-lg text-center">
													<div class="label label-large label-success arrowed">
														{{ message }}
													</div>
												</div>
											</div>

										{% endfor %}


										{# pass an array argument to get the messages of those types  #}
										{% for label, messages in app.flashes(['warning']) %}
											{% for message in messages %}
												<div class="alert alert-warning">
													<button type="button" class="close" data-dismiss="alert">
														<i class="ace-icon fa fa-times"></i>
													</button>

													<strong>
														{{ message }}</strong>

													<br>
												</div>


											{% endfor %}
										{% endfor %}

										{% for label, messages in app.flashes(['error']) %}
											{% for message in messages %}
												<div class="alert alert-warning">
													<button type="button" class="close" data-dismiss="alert">
														<i class="ace-icon fa fa-times"></i>
													</button>

													<div class="well well-lg text-center">
														<span class="label label-warning">
															<i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
															Error
														</span>
														<div class="label label-large label-danger arrowed-in">
															{{ message }}
														</div>
													</div>
												</div>
											{% endfor %}
										{% endfor %}


										<div class="container-fluid" id='ViewContentDiv '> {% block fos_user_content %}{% endblock %}{% block body %}{% endblock %}


											</div>
											<!--/.page-content-->
										</div>
										<!--/.page-content-->
									</div>
								</div>
								<!-- /.main-content -->

								{% block footer %}
									<div class="footer">
										<div class="footer-inner">
											<div class="footer-content">
												<span class="bigger-120">
													<span class="blue bolder">{% trans %}EMIS{% endtrans %}</span>
													{% trans %}Application{% endtrans %}
													&copy;
													{% trans %}Jimma University 2021{% endtrans %}
												</span>

												&nbsp; &nbsp;
												<span class="action-buttons">
													<a href="#">
														<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
													</a>

													<a href="#">
														<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
													</a>

													<a href="#">
														<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
													</a>
												</span>
											</div>
										</div>
									</div>
								{% endblock %}
								<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
									<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
								</a>


								<script src="{{asset('assets/assets/js/jquery-2.1.4.min.js')}}"></script>
								<script type="text/javascript">
									if ('ontouchstart' in document.documentElement) 
document.write("<script src='                 {{ asset('assets/assets/js/jquery.mobile.custom.min.js') }}'>" + "<" + "/script>");
								</script>

								<script src="{{ asset('assets/assets/js/bootstrap.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/jquery-ui.custom.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/jquery.ui.touch-punch.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/moment.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/jquery.knob.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/autosize.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/select2.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/bootstrap-tag.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/jquery.hotkeys.index.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/bootstrap-wysiwyg.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/jquery.gritter.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/notify.js') }}"></script>
								<script src="{{asset('assets/assets/js/jquery.bootstrap-duallistbox.min.js')}}"></script>
								<script src="{{ asset('assets/assets/js/bootstrap-tag.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/jquery.dataTables.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/jquery.dataTables.bootstrap.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/dataTables.buttons.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/buttons.flash.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/buttons.html5.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/buttons.print.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/buttons.colVis.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/dataTables.select.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/ace-elements.min.js') }}"></script>
								<script src="{{ asset('assets/assets/js/ace.min.js') }}"></script>

								<script>
									$(function () {

$('.select2').css('width', '100%').select2({allowClear: false});


})

$(document).ready(function () {


var path = window.location.href;

$(".submenu a").each(function () {

if (this.href === path) {

$(this).addClass('active');
$(this).closest('li').addClass('active');

$(this).closest('.toplist').addClass('open');

$(this).closest('.sublist').addClass('open');
$(this).closest('.sublist').addClass('active');


}
});

});
								</script>
								{% block javascripts %}{% endblock %}
							</body>
						</body>
					</html>
