{{ form_start(form,{'attr': {'role':'form'} }) }}


<div class="row">

	<div class="col-md-4">
		<div class="form-group">
			<label class="floating-label" for="Name">Name</label>
			{{ form_widget(form.name,{'attr':{'class':'form-control ','required' : 'true','autocomplete':'off'}}) }}
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="floating-label" for="Name">Code</label>
			{{ form_widget(form.code,{'attr':{'class':'form-control ','required' : 'true','autocomplete':'off'}}) }}
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group fill">
			<label class="floating-label">Description</label>
			{{ form_widget(form.description,{'attr':{'class':'form-control ','autocomplete':'off'}}) }}

		</div>
	</div>


	<div class="col-md-12">
		<button class="btn btn-primary float-right form-controll">{{ button_label|default('Save') }}</button>


	</div>

</div>
{{ form_end(form) }}
