
<li style="background-color:blue;" >
	<a href="#" class="dropdown-toggle ">
		<i class="menu-icon fa fa-caret-right"></i>
		<span class="menu-text">

			{% trans %}Cascade {% endtrans %}
		</span>
		<b class="arrow fa fa-angle-down"></b>
	</a>
	<ul class="submenu nav-show" >
		<li>
			<a href="{{ path('principal_office_index') }}" class="bg-primary">
				<b class="fa fa-caret-right"></b>
				{% trans %}Plan{% endtrans %}
			</a>
		</li>
        
        <li>
			<a href="{{ path('plan_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Cascading Achievement{% endtrans %}
			</a>
		</li>
         <li>
			<a href="{{ path('plan_achievement') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Plan Achievement{% endtrans %}
			</a>
		</li>
        <li>
			<a href="{{ path('operational_task_list') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Operational Task{% endtrans %}
			</a>
		</li>
        <li>
			<a href="{{ path('plan_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Performer Task{% endtrans %}
			</a>
		</li>
		
		
		
        </ul>
        </li>
      
