
<li  >
	<a href="#" class="dropdown-toggle " >
		<i class="menu-icon fa fa-caret-right"></i>
		<span class="menu-text">

			{% trans %}Plan Achievement {% endtrans %}
		</span>
		<b class="arrow fa fa-angle-down"></b>
	</a>
    <b class="arrow"></b>
	<ul class="submenu nav-show"  >
		<li>
			<a href="{{ path('plan_achievement_goal') }}" >
				<b class="fa fa-caret-right"></b>
				{% trans %}Goal Achievement{% endtrans %}
			</a>
            <b class="arrow"></b>
		</li>
        
        <li>
			<a href="{{ path('plan_achievement_objective') }}" >
				<b class="fa fa-caret-right"></b>
				{% trans %}Objective Achievement{% endtrans %}
			</a>
            <b class="arrow"></b>
		</li>
         <li>
			<a href="{{ path('plan_achievement_kpi') }}" >
				<b class="fa fa-caret-right"></b>
				{% trans %}Strategy Achievement{% endtrans %}
			</a>
		</li>
         <li>
			<a href="{{ path('plan_achievement_kpi') }}" >
				<b class="fa fa-caret-right"></b>
				{% trans %}KPi  Achievement{% endtrans %}
			</a>
		</li>
         <li>
			<a href="{{ path('plan_achievement_initiative') }}" >
				<b class="fa fa-caret-right"></b>
				{% trans %}Initiative  Achievement{% endtrans %}
			</a>
		</li>
       
        
       
        
		
		
		
        </ul>
        </li>
      
      
