


{{ form_start(form,{'attr': {'role':'form'} }) }}


<div class="row">

	<div class="col-md-4">
		<div class="form-group">
			<label class="floating-label" for="Name">Principal</label>
			{{ form_widget(form.principal,{'attr':{'class':'form-control select2 ','required' : 'true'}}) }}
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="floating-label" for="Name">Principal Office</label>
			{{ form_widget(form.principalOffice,{'attr':{'class':'form-control select2 ','required' : 'true'}}) }}
		</div>
	</div>


	<div class="col-md-12">
		<button class="btn btn-primary float-right form-controll">{{ button_label|default('Save') }}</button>


	</div>

</div>
{{ form_end(form) }}
