{% extends 'base.html.twig' %}

{% block title %}PrincipalManager index{% endblock %}

{% block body %}
    <h1>PrincipalManager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Principal</th>
                <th>Office</th>
                
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for principal_manager in principal_managers %}
            <tr>
                <td>{{ principal_manager.id }}</td>
                <td>{{ principal_manager.principal }}</td>
                <td>{{ principal_manager.principalOffice }}</td>
                <td>{{ principal_manager.isActive ? 'Active' : 'Deactivated' }}</td>
                <td>
                    <a href="{{ path('principal_manager_show', {'id': principal_manager.id}) }}">show</a>
                    <a href="{{ path('principal_manager_edit', {'id': principal_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('principal_manager_new') }}">Create new</a>
{% endblock %}
