{% extends 'base.html.twig' %}
{% block title %}User index
{% endblock %}
{% block maintitle %}
	User
{% endblock %}
{% block breadcrumb %}User
{% endblock %}
{% block body %}
	<div
		class="row">
		<!-- [ sample-page ] start -->
		<div class="col-sm-12">
			<div class="card">

				<div class="card-header">
					<h5>User index</h5>

					<div
						class="card-header-right">{# <a href="{{ path('public_ip_address_new') }}" class="btn btn-success">Create new</a> #}

					</div>
				</div>
				<div class="card-body">

					<table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.name }}</td>
									<td>
										{# {% if is_granted("ad_prmsn_t_grp") %} #}
										<form class="d-inline" method="post" action="{{ path('user_group_permission', {'id': user.id}) }}">
											<input type="hidden" name="edit" value="{{user.id}}">
											<button class="btn btn-sm btn-outline-success" title="Permission">
												<i class="fa fa-tasks"></i>
											</button>
										</form>

										{# {% if user_group.permission|length and is_granted("ad_usr_t_grp") %} #}
										<form class="d-inline" method="post" action="{{ path('user_group_users', {'id': user.id}) }}">
											<input type="hidden" name="edit" value="{{user.id}}">
											<button class="btn btn-sm btn-outline-success" title="Users">
												<i class="fa fa-users"></i>
											</button>
										</form>
										{# {% endif %} #}
										{# {% endif %} #}
									</td>
									
								</tr>
							{% else %}
								<tr>
									<td colspan="5">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- [ sample-page ] end -->
	</div>

{% endblock %}
