{% extends 'base.html.twig' %}

{% block maintitle %}
	User Group Permission
{% endblock %}


{% block body %}
	<div class="row">
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">
						{{ user_group.name }}
						User Group
					</h5>

					<div class="widget-toolbar"></div>

					<div class="widget-toolbar">
						<div class="card-header-right">
							<a href="{{ path('user') }}" class="btn btn-success">
								Back</a>

						</div>
					</div>
				</div>

				<div class="widget-body">


					<div class="widget-main padding-16">

						<div class="table-responsive">
							<form class="form-inline" method="post" style="display:inline;">

								<div class="input-group">
									<input type="text" class="form-control" name="search" placeholder="search"/>
									<div class="input-group-btn">
										<button type="submit" class="btn btn-default no-border btn-sm">
											<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
										</button>
									</div>
								</div>
							</form>

							<form method="POST">
								<div class="card-body">


									<div class="row">
										<div class="col-12">


											<div class="form-group">

												<input hidden value="{{ user_group.id}}" name="usergrouppermission">
												<select class="duallistbox" multiple="multiple" name="permission[]">
													{% for permission in user_group.permission %}
														<option selected value="{{permission.id}}" title="{{permission.description}}">{{ permission.name }}</option>
													{% endfor %}
													{% for permission in permissions %}
														<option value="{{permission.id}}" title="{{permission.description}}">{{ permission.name }}</option>
													{% endfor %}


												</select>
											</div>
											<!-- /.form-group -->

										</div>
										<!-- /.col -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.card-body -->
								<div class="card-footer">
									<div class="float-right">
										<a href="{{path('user')}}" class="btn btn-primary">Cancel</a>
										<button class="btn btn-info  ">Save</button>


									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	<script>
		$(function () {
$('.duallistbox').bootstrapDualListbox({
nonSelectedListLabel: 'List of Privilages',
selectedListLabel: 'Granted Privilages',
preserveSelectionOnMove: 'moved',
moveOnSelect: false,
moveSelectedLabel: "Grant Selected Privilages",
moveAllLabel: "Grant All Privilages ",
removeSelectedLabel: "Revoke Selected Privilages",
removeAllLabel: "Revoke All privilages",
selectorMinimalHeight: "300"
});
})
console.log("ffff")
	</script>

{% endblock %}
