{% extends 'base.html.twig' %}

{% block maintitle %}
	User Group Permission
{% endblock %}


{% block body %}


	<div
		class="row">
		<!-- [ sample-page ] start -->
		<div class="col-sm-12">
			<div class="card">

				<div class="card-header">
				{{ user_group.name }} User Group

					<div class="card-header-right">
						<a href="{{ path('user') }}" class="btn btn-success">
							Back</a>

					</div>
				</div>
				<form method="POST">
					<div class="card-body">


						<div class="row">
							<div class="col-12">


								<div class="form-group">

									<input hidden value="{{ user_group.id}}" name="usergrouppermission">
									<select class="duallistbox" multiple="multiple" name="permission[]">
										{% for permission in user_group.permission %}
											<option selected value="{{permission.id}}" title="{{permission.description}}">{{ permission.name }}</option>
										{% endfor %}
										{% for permission in permissions %}
											<option value="{{permission.id}}" title="{{permission.description}}">{{ permission.name }}</option>
										{% endfor %}


									</select>
								</div>
								<!-- /.form-group -->

							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<div class="float-right">
							<a href="{{path('user')}}" class="btn btn-primary">Cancel</a>
							<button class="btn btn-info  ">Save</button>


						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- [ sample-page ] end -->
	</div>

{% endblock %}
{% block javascripts %}
<script>
		$(function () {
$('.duallistbox').bootstrapDualListbox({
nonSelectedListLabel: 'List of Privilages',
selectedListLabel: 'Granted Privilages',
preserveSelectionOnMove: 'moved',
moveOnSelect: false,
moveSelectedLabel: "Grant Selected Privilages",
moveAllLabel: "Grant All Privilages ",
removeSelectedLabel: "Revoke Selected Privilages",
removeAllLabel: "Revoke All privilages",
selectorMinimalHeight: "300"
});
})
console.log("ffff")
	</script>
	
{% endblock %}
