{% block javascripts %}
	<script>
		$(document).ready(function () {
$('#example').DataTable();
});
	</script>
{% endblock %}

{% extends 'base.html.twig' %}
{% block application_simple_title %}
	<strong>
		{% trans %}Strategic Management Information System{% endtrans %}</strong>
{% endblock %}
{% block mainTitle %}
	<li>
		<i class="icon-home home-icon"></i>
		<a href="">{% trans %}MIS{% endtrans %}</a>

		<span class="divider">
			<i class="arrow-icon"></i>
		</span>
	</li>
	<li>
		<i class="icon-home home-icon"></i>
		<a href="">{% trans %}SMIS{% endtrans %}</a>

		<span class="divider">
			<i class="arrow-icon"></i>
		</span>
	</li>

{% endblock %}
{% block subTitle %}
	<li class="active">{% trans %}User List{% endtrans %}</li>
{% endblock %}
{% block body %}

	<div class="row">
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">User List</h5>

					<div class="widget-toolbar"></div>

					<div class="widget-toolbar">
						{% set numbernotChoose = 0 %}
						{% for item in count %}
							{% if item.user.status != 1 %}
								{% set numbernotChoose = numbernotChoose + 1 %}
							{% endif %}

						{% endfor %}
						<span class="badge badge-info">
							{% trans %}Total{% endtrans %}
							:
							<strong>{{count|length}}</strong>
						</span>
						<span class="badge badge-danger">

							{% trans %}
							Office Not Choose
							{% endtrans %}
							:
							<strong>{{numbernotChoose}}</strong>
						</span>

					</div>
				</div>

				<div class="widget-body">
					<div class="row">
						{{ form_start(form) }}

						<div class="form-group col-md-4 " style="display:inline;">
							{{ form_label(form.status,"Office") }}
							{{ form_widget(form.status,{'attr':{ 'class': ' form-control'}}) }}


						</div>
						<button type="submit" class="btn btn-sm btn-primary" style="display:inline;margin-top:25px;margin-left:0px;">{% trans %}filter{% endtrans %}</button>
						{{ form_end(form) }}

					</div>
					<form action="{{path('print_user')}}" method="post">

						<button type="submit" formtarget="_blank" class="btn btn-app btn-danger btn-xs pull-right" style="margin-bottom:30px;">
							<i class=" fa fa-file-pdf text-danger"></i>
							PDF
						</button>
					</form>


					<div class="widget-main padding-16">

						<div class="table-responsive">

							<form class="form-inline" method="post" style="display:inline;">

								<div class="input-group">
									<input type="text" class="form-control" name="name" placeholder="name"/>
									<div class="input-group-btn">
										<button type="submit" class="btn btn-default no-border btn-sm">
											<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
										</button>
									</div>
								</div>
							</form>

							<table class="table table-striped table-bordered" style="width:100%">
								<thead>
									<tr>
										<th>Id</th>
										<th>Name</th>
										<th>Phone Number</th>
										<th>Email</th>
										<th>Alternative Email</th>
										<th>Username</th>


									</tr>
								</thead>
								<tbody>
									{% set count =  users.getItemNumberPerPage() * (users.getCurrentPageNumber() -1) %}


									{% for userinfo in users %}
										<tr>
											{% set count = count + 1 %}

											<td>{{count}}</td>
											<td>{{ userinfo.fullName }}</td>
											<td>{{ userinfo.user.mobile }}</td>
											<td>{{ userinfo.email }}</td>
											<td>{{ userinfo.user.alternativeEmail }}</td>
											<td>{{ userinfo.user.username }}</td>


										</tr>
									{% else %}
										<tr>
											<td colspan="7">no records found</td>
										</tr>
									{% endfor %}
								</tbody>

							</table>
							<div class="pull-right" id="custompaginator">{{ knp_pagination_render(users) }}</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
