{% extends 'base.html.twig' %}

{% block title %}Strategy index{% endblock %}

{% block body %}
    <h1>Strategy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IsActive</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for strategy in strategies %}
            <tr>
                <td>{{ strategy.id }}</td>
                <td>{{ strategy.name }}</td>
                <td>{{ strategy.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ strategy.description }}</td>
                <td>{{ strategy.createdAt ? strategy.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('strategy_show', {'id': strategy.id}) }}">show</a>
                    <a href="{{ path('strategy_edit', {'id': strategy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('strategy_new') }}">Create new</a>
{% endblock %}
