{% extends 'base.html.twig' %}

{% block title %}
	Choose Office
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
			<div class="widget-box widget-color-blue" id="widget-box-8">
				<div class="widget-header"></div>

				<div class="widget-body">


					<div class="widget-main padding-16">


						{% if app.user.status == 0 %}


							<div class="row">
								{{ form_start(filterform,{'attr': {'role':'form','class':' ' }}) }}
								<div class="col-md-4">
									<div class="form-group form-group-sm">
										{{ form_label(filterform.phoneNumber,'Phone Number ') }}
										{{ form_widget(filterform.phoneNumber,{'attr':{'class':' phoneNumber form-control ','data-placeholder':'' }}) }}
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group form-group-sm">
										{{ form_label(filterform.alternativeEmail,'Alternative Email ') }}
										{{ form_widget(filterform.alternativeEmail,{'attr':{'class':' Alternative Email form-control ','data-placeholder':'' }}) }}
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group form-group-sm">
										{{ form_label(filterform.stafType,'Staff Type') }}
										{{ form_widget(filterform.stafType,{'attr':{'class':'select2 form-control ','data-placeholder':'' }}) }}
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group form-group-sm">
										{{ form_label(filterform.principalOffice,'Principal Office ') }}
										{{ form_widget(filterform.principalOffice,{'attr':{'class':'select2 principal form-control ','data-placeholder':'' }}) }}
									</div>
								</div>

								<div class="col-md-4">
									<label class="form-controll">Operational Office</label>

									<select id="oper" name="oper" class="oper " required="required"></select>
								</div>

								<div class="col-md-2">
									<div class="form-group" style="margin-top:25px;">
										<input type="submit" class="btn btn-primary btn-sm " value="Choose" onclick="return confirm('Are you sure choose your Principal and Operational Office ?');">
									</div>
								</div>
								{{form_end(filterform)}}
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(() => {
$('.principal').trigger('change')
})
$('.principal').change(function () {
var principal = $('.principal').val()
// console.log(principal)
var select = $('.oper')

$.ajax({
url:"{{ path('operational_fetch') }}",
method: "POST",
data: {
principal: principal
},
dataType: "json",
success: function (data) {
$('.oper').children().remove()
for (let [key, value] of Object.entries(data)) {


select.append('<option>' + value.name + '</option>');
$("#oper").prop("required", true)


}
}
});
})
	</script>
{% endblock %}
